//////////////////////////////////////////////////
//                                              //
//  Organism: Column Double
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Organism Variables         //
////////////////////////////////



////////////////////////////////
// Organism Base Styling      //
////////////////////////////////

// Each object class listed below probably has it's own SCSS file.
// Please contact the dev manager for help to decide if the SCSS of an object itself needs to be overwritten or extended here.
// If needed, additional CSS properties can be given to the objects in this block by adding properties to the classes below.

.o-i360-column-double {
	@include bp-sm {
		background: linear-gradient(90deg, var(--background-column-1) 50%, var(--background-column-2) 50%);
	}

	&__container {
		max-width: 1245px;
		@include bpm-sm {
			width: 100%;
			padding: 0;
		}
	}

	&__column {
		padding: 60px 20px;
		@include bp-sm {
			padding: 60px 0;
		}

		&--1 {
			@include bp-sm {
				padding-right: 50px;
			}
			@include bp-xl {
				padding-right: 70px;
			}
		}

		&--2 {
			@include bp-sm {
				padding-left: 50px;
			}
			@include bp-xl {
				padding-left: 70px;
			}
		}
	}

	&__container-inner {
		@include flex-outlining-card-1-by-2(0px, '.o-i360-column-double__column');
	}

	&__pretitle {
		margin-bottom: 22px;
		font-weight: 600;
	}

	&__title {
		@include bp-lg {
			padding-bottom: 22px;
		}
	}

	&__link-wrapper {
		margin-top: 40px;
	}

	&__link {
		@include underline-special;
		@include underline-special-reverse;

		font-weight: 600;
		font-size: 20px;

		&::before {
			top: calc(100% - 0px);
			height: 1px;
		}
	}

	// Animations
	&__pretitle,
	&__title,
	&__content,
	&__button-wrapper {
		transition-delay: .2s;
		@include anim-fade-default;
	}
}


/////////////////////////////
// Organism Versions       //
/////////////////////////////

// This organism is most likely inheriting styles from the default-organism.scss file.
// If needed, the look & feel of organism versions can be modified below.


//////////////////////////////////////////
// Organism Versions -- Alignments      //
//////////////////////////////////////////

// Covers scenario(s) where this organism has multiple alignments ..
// "align-default" is the starting point and is required to style

// Covers scenario(s) where this organism has multiple alignments .. "align-default" is the starting point
.o-i360-column-double--align-center,
.o-i360-column-double--align-default {
	.o-i360-column-double {
		&__title-wrapper,
		&__title,
		&__content {

		}

		&__button-wrapper {

		}
	}
}

.o-i360-column-double--align-left {
	.o-i360-column-double {
		&__title-wrapper,
		&__title,
		&__content {

		}

		&__button-wrapper {

		}
	}
}


/////////////////////////////////////////////
// Organism Color Palette Versions         //
/////////////////////////////////////////////
/**
 * Covers scenario(s) where this organism has multiple color palettes
 * "color-default" is required and the starting point
 * Both "color-dark" and "color-light" are required to style
 * Additional project color palettes might be present
 * and are required to style
 * ------------------------------------------------------------
 */
.o-i360-column-double__column--color-dark {
    .o-i360-column-double {
		&__title,
		&__link {
			color: $g-heading-dark;
		}

		&__pretitle,
		&__content {
			color: $g-body-dark;
		}

		&__link {
			&::before {
				background-color: $g-heading-dark;
			}
		}
	}
}

.o-i360-column-double__column--color-default,
.o-i360-column-double__column--color-light {
	.o-i360-column-double {
		&__title,
		&__link {
			color: $g-body-light;
		}

		&__pretitle,
		&__content {
			color: $g-grey-color-light;
		}

		&__link {
			&::before {
				background-color: $g-body-light;
			}
		}
	}
}


//////////////////////////////////////////
// Organism Other Versions                 //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this organism has versions beside
 * the color and alignment use cases above
 * ------------------------------------------------------------
 */

