//////////////////////////////////////////////////
//                                              //
//  Molecule: Background Set                    //
//                                              //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

////////////////////
// Styling        //
////////////////////

.m-background-set {
	&__border-wrapper {
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;

		&--top {
			top: 0;
		}

		&--bottom {
			bottom: 0;
		}

		&.animated {
			.o-dbm {
				&__border {
					&:before,
					&:after {
						opacity: 1;
						visibility: visible;
						width: 90%;
					}
				}
			}
		}
	}

	&__border {
		position: absolute;
		width: 100%;
		left: 0;
		height: 2px;

		//&--top {
		//	&::before {
		//		content: '';
		//		@include absolute-general($top: 0, $right: 0, $left: 0);
		//		max-width: 1250px;
		//		width: 0;
		//		height: 1px;
		//		margin: 0 auto;
		//		padding: 0 15px;
		//		background-color: #000;
		//		z-index: $g-z10;
		//		opacity: 0;
		//		visibility: hidden;
		//		transition: $g-trans-base-longer;
		//		transition-delay: 0.2s;
		//	}
		//}
		//
		//&--bottom {
		//	&::after {
		//		content: '';
		//		@include absolute-general($bottom: 0, $right: 0, $left: 0);
		//		max-width: 1250px;
		//		width: 0;
		//		height: 1px;
		//		margin: 0 auto;
		//		padding: 0 15px;
		//		background-color: #000;
		//		z-index: $g-z10;
		//		opacity: 0;
		//		visibility: hidden;
		//		transition: $g-trans-base;
		//		transition-delay: 0.2s;
		//	}
		//}
	}

	&__border {
		position: absolute;
		width: 100%;
		left: 0;
		height: 11px;

		&--top {
			top: 0;
		}
		&--bottom {
			bottom: 0;
		}
	}

	&__bg-image-wrapper {
		@include absolute-full;
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__bg-image-overlay {
		@include absolute-full;
	}
}
