//////////////////////////////////////////////////
//                                              //
//  Organism: Checkmarks
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Organism Variables         //
////////////////////////////////



////////////////////////////////
// Organism Base Styling      //
////////////////////////////////

// Each object class listed below probably has it's own SCSS file.
// Please contact the dev manager for help to decide if the SCSS of an object itself needs to be overwritten or extended here.
// If needed, additional CSS properties can be given to the objects in this block by adding properties to the classes below.

.o-i360-checkmarks {
	&__title {
		span {
			color: $g-brand-color-7;
		}
	}

	&__list-icon-alt {
		.a-title {
			padding-bottom: 0;
		}

		.a-content {
			margin-top: 10px;
		}
	}

	// Animations
	&__pretitle,
	&__title,
	&__content,
	&__button-wrapper {
		transition-delay: .2s;
		@include anim-fade-default;
	}
}


/////////////////////////////
// Organism Versions       //
/////////////////////////////

// This organism is most likely inheriting styles from the default-organism.scss file.
// If needed, the look & feel of organism versions can be modified below.


//////////////////////////////////////////
// Organism Background Versions         //
//////////////////////////////////////////
/**
* Covers scenario(s) where this organism has a custom background for it's default state.
* If so, target ".m-background-set"
* ------------------------------------------------------------
*/
.o-i360-checkmarks {
	&.o-dbm--bg-color {
		.m-background-set {
			background-color: $g-grey-color-light;
		}
	}
}


//////////////////////////////////////////
// Organism Versions -- Alignments      //
//////////////////////////////////////////

// Covers scenario(s) where this organism has multiple alignments ..
// "align-default" is the starting point and is required to style

// Covers scenario(s) where this organism has multiple alignments .. "align-default" is the starting point
.o-i360-checkmarks--default.o-dbm--align-center {
	.o-i360-checkmarks {
		&__pretitle,
		&__title-wrapper,
		&__title,
		&__content {
			text-align: center;
		}

		&__button-wrapper {
			justify-content: center;
		}
	}
}

.o-i360-checkmarks--default.o-dbm--align-left,
.o-i360-checkmarks--default.o-dbm--align-default {
	.o-i360-checkmarks {
		&__pretitle,
		&__title-wrapper,
		&__title,
		&__content {
			text-align: left;
		}

		&__button-wrapper {
			justify-content: flex-start;
		}
	}
}

.o-i360-checkmarks--single-column.o-dbm--align-center,
.o-i360-checkmarks--single-column.o-dbm--align-default {
	.o-i360-checkmarks {
		&__pretitle-wrapper,
		&__title-wrapper,
		&__content {
			margin-right: auto;
			margin-left: auto;
		}

		&__pretitle,
		&__title-wrapper,
		&__title,
		&__content {
			text-align: center;
		}

		&__button-wrapper {
			justify-content: center;
		}
	}
}

.o-i360-checkmarks--single-column.o-dbm--align-left {
	.o-i360-checkmarks {
		&__pretitle-wrapper.o-dbm__pretitle-wrapper {
			margin-bottom: 20px;
		}

		&__pretitle,
		&__title-wrapper,
		&__title,
		&__content {
			text-align: left;
		}

		&__button-wrapper {
			justify-content: flex-start;
		}
	}
}


/////////////////////////////////////////////
// Organism Color Palette Versions         //
/////////////////////////////////////////////
/**
 * Covers scenario(s) where this organism has multiple color palettes
 * "color-default" is required and the starting point
 * Both "color-dark" and "color-light" are required to style
 * Additional project color palettes might be present
 * and are required to style
 * ------------------------------------------------------------
 */
.o-i360-checkmarks.o-dbm--color-default,
.o-i360-checkmarks.o-dbm--color-dark {
    .o-i360-checkmarks {
		&__pretitle {
			color: $g-pretitle-dark;
		}

		&__title {
			color: $g-heading-dark;
		}

		&__content {
			color: $g-body-dark;
		}
	}
}

.o-i360-checkmarks.o-dbm--color-light {
	.o-i360-checkmarks {
		&__pretitle {
			color: $g-pretitle-light;
		}

		&__title,
		&__content {
			color: $g-body-light;
		}
	}
}


//////////////////////////////////////////
// Organism Other Versions              //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this organism has versions beside
 * the color and alignment use cases above
 * ------------------------------------------------------------
 */

.o-i360-checkmarks--default {
	.o-i360-checkmarks {
		&__container {
			display: flex;
			flex-wrap: wrap;
			@include bp-md {
				flex-wrap: nowrap;
				align-items: center;
			}
		}

		&__title-wrapper.o-dbm__title-wrapper,
		&__title.o-dbm__title.a-title--default,
		&__title.o-dbm__title.a-title--small,
		&__content.o-dbm__content {
			max-width: 100%;
		}

		&__column {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 100%;

			&--1 {
				margin-bottom: 30px;
				@include bp-md {
					flex-basis: 51%;
					margin-bottom: 0;
					padding-right: 80px;
				}
				@include bp-lg {
					padding-right: 125px;
				}
			}

			&--2 {
				@include bp-md {
					flex-basis: 49%;
				}
			}
		}
	}
}

.o-i360-checkmarks--single-column {
	.o-i360-checkmarks {
		&__pretitle-wrapper.o-dbm__pretitle-wrapper,
		&__pretitle.o-dbm__pretitle,
		&__title-wrapper.o-dbm__title-wrapper,
		&__title.o-dbm__title.a-title--default,
		&__title.o-dbm__title.a-title--small,
		&__content.o-dbm__content {
			max-width: 950px;
		}

		&__list-icon-alt {
			max-width: 580px;
			margin: 20px auto 0;
		}
	}
}
