//////////////////////////////////////////////////
//                                              //
//  Organism: Quote					            //
//                                              //
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

$l-quote-block-large-height-desktop: 750px;
$l-quote-block-large-height-tablet: inherit;
$l-quote-block-large-height-mobile: inherit;

$l-quote-block-medium-height-desktop: 600px;
$l-quote-block-medium-height-tablet: inherit;
$l-quote-block-medium-height-mobile: inherit;

$l-quote-block-small-height-desktop: 350px;
$l-quote-block-small-height-tablet: inherit;
$l-quote-block-small-height-mobile: inherit;

$l-quote-block-padding-mobile-tablet: 80px;

////////////////////
// Styling        //
////////////////////

.o-i360-quote {
	position: relative;
	display: flex;
	overflow: hidden;
	@include bp-md {
		display: block;
		padding: 100px 0;
	}

	&__img-wrapper {
		z-index: $g-z1;
	}

	&__img-wrapper,
	&__img {
		@include bp-md {
			@include absolute-full;
			width: 100%;
			height: 100%;
		}
	}

	&__img {
		object-fit: cover;
	}

	&__container {
		height: 100%;
		z-index: $g-z20;
	}

	&__pretitle {
		margin-bottom: 15px;
	}

	&__title {
		@include bpm-md {
			font-size: 40px;
		}

		span {
			color: $g-brand-color-1;
		}
	}

	&__content-group {
		position: relative;
		padding: 40px 0;
		z-index: 1;
		@include bp-sm {
			max-width: 62%;
		}
		@include bp-lg {
			max-width: 570px;
			padding: 0;
		}
	}

	&__content {
		z-index: $g-z20;
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 100%;

		@include wysiwyg-content-styling;
	}

	.h-overlay {
		display: none;
		@include bp-md {
			@include absolute-full;
			display: block;
			z-index: $g-z10;
		}
	}

	&__button-wrapper {
		margin-top: 35px;
		@include bpm-md {
			text-align: center;
		}
	}
}

////////////////////
// Versions       //
////////////////////

// Covers scenario(s) where this block has multiple alignments .. "align-default" is required and the starting point
.o-i360-quote {
	&--align-left {
		background-color: $g-brand-color-5; // maybe set from cms? remove!!

		@include bpm-md {
			flex-direction: column-reverse;
		}

		.o-i360-quote {
			&__content {
				align-items: baseline;
			}

			&__content-group {
				@include bp-lg {
					padding-left: 80px;
				}
				@include bpm-md {
					margin: 0 auto;
					text-align: center;
				}
			}
		}
	}

	&--align-default {
		@include bpm-md {
			flex-direction: column;
		}

		.o-i360-quote {
			&__content {
				align-items: baseline;
			}

			&__content-group {
				margin-left: auto;
				@include bp-lg {
					padding-right: 80px;
				}
				@include bpm-md {
					margin: 0 auto;
					text-align: center;
				}
			}

			&__btn {
				width: auto;
			}
		}
	}

	&--align-center {
		@include bpm-md {
			flex-direction: column;
		}

		.o-i360-quote {
			&__content,
			&__content-group {
				align-items: center;
				text-align: center;
				margin: 0 auto;
			}

			&__content-group {
				margin: 0 auto;
			}

			&__button-wrapper {
				text-align: center;
			}

			&__btn {
				width: auto;
			}
		}
	}
}

//////////////////////////////////////////
// Block Color Palette Versions         //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has multiple color palettes
 * "color-default" is required and the starting point
 * Both "color-dark" and "color-light" are required to style
 * Additional project color palettes might be present
 * and are required to style
 * ------------------------------------------------------------
 */
.o-i360-quote {
	&--color-light {
		.o-i360-quote {
			color: $g-body-light;

			&__title,
			&__subtitle,
			&__content {
				color: $g-body-light;
			}
		}
	}

	&--color-dark,
	&--color-default {
		color: $g-body-dark;

		.o-i360-quote {
			&__title {
				color: $g-brand-color-4;
			}

			&__pretitle,
			&__subtitle,
			&__content  {
				color: $g-body-dark;
			}
		}
	}
}

//////////////////////////////////////////
// Block Other Versions                 //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has versions beside
 * the color and alignment use cases above
 * ------------------------------------------------------------
 */

.o-i360-quote {
	&--large {
		.o-i360-quote__content {
			height: $l-quote-block-large-height-mobile;

			@include bp-sm {
				height: $l-quote-block-large-height-tablet;
			}

			@include bp-md {
				height: $l-quote-block-large-height-desktop;
			}
		}
	}
	&--medium {
		.o-i360-quote {
		}
	}
	&--small {
		.o-i360-quote {
		}
		.o-i360-quote__content {
			height: $l-quote-block-small-height-mobile;

			@include bp-sm {
				height: $l-quote-block-small-height-tablet;
			}

			@include bp-md {
				height: $l-quote-block-small-height-desktop;
			}
		}
	}
}
