//////////////////////////////////////////////////
//                                              //
//  Organism: Pills
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Organism Variables         //
////////////////////////////////



////////////////////////////////
// Organism Base Styling      //
////////////////////////////////

// Each object class listed below probably has it's own SCSS file.
// Please contact the dev manager for help to decide if the SCSS of an object itself needs to be overwritten or extended here.
// If needed, additional CSS properties can be given to the objects in this block by adding properties to the classes below.

.o-i360-pills {
	// Gradient-overlay
	&::before {
		content: "";
		@include absolute-full();
	  	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 55%);
		z-index: $g-z1;
	}

	&__container {
		display: flex;
		z-index: $g-z10;
		@include bpm-md {
			justify-content: center;
		}
	}

	&__info {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 100%;
		@include bp-sm {
			flex-basis: 80%;
		}
		@include bp-md {
			flex-basis: 49%;
			margin-left: auto;
		}
	}

	&__title {
		span {
			color: $g-brand-color-7;
		}
	}

	&__button-wrapper {
		padding-top: 45px;
	}

	&__btn {
		min-width: 300px;
	}
}


/////////////////////////////
// Organism Versions       //
/////////////////////////////

// This organism is most likely inheriting styles from the default-organism.scss file.
// If needed, the look & feel of organism versions can be modified below.


//////////////////////////////////////////
// Organism Versions -- Alignments      //
//////////////////////////////////////////

// Covers scenario(s) where this organism has multiple alignments ..
// "align-default" is the starting point and is required to style

// Covers scenario(s) where this organism has multiple alignments .. "align-default" is the starting point
.o-i360-pills.o-dbm--align-center {
	.o-i360-pills {
		&__title-wrapper,
		&__title,
		&__content {
			text-align: center;
		}

		&__button-wrapper {
			justify-content: center;
		}
	}
}

.o-i360-pills.o-dbm--align-left,
.o-i360-pills.o-dbm--align-default {
	.o-i360-pills {
		&__title-wrapper,
		&__title,
		&__content {
			text-align: left;
		}

		&__button-wrapper {
			justify-content: flex-start;
		}
	}
}


/////////////////////////////////////////////
// Organism Color Palette Versions         //
/////////////////////////////////////////////
/**
 * Covers scenario(s) where this organism has multiple color palettes
 * "color-default" is required and the starting point
 * Both "color-dark" and "color-light" are required to style
 * Additional project color palettes might be present
 * and are required to style
 * ------------------------------------------------------------
 */
.o-i360-pills.o-dbm--color-default,
.o-i360-pills.o-dbm--color-dark {
    .o-i360-pills {
		&__pretitle {
			color: $g-pretitle-dark;
		}

		&__title {
			color: $g-heading-dark;
		}

		&__content {
			color: $g-body-dark;
		}
	}
}

.o-i360-pills.o-dbm--color-light {
	.o-i360-pills {
		&__pretitle {
			color: $g-pretitle-light;
		}

		&__title,
		&__content {
			color: $g-body-light;
		}
	}
}


//////////////////////////////////////////
// Organism Other Versions                 //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this organism has versions beside
 * the color and alignment use cases above
 * ------------------------------------------------------------
 */

