//////////////////////////////////////////////////
//                                              //
//  Organism: Default Gallery Repeater          //
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Component Variables        //
////////////////////////////////

////////////////////
// Styling        //
////////////////////

.o-default-gallery {
	&__repeater {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}

	&__thumbnail {
		transition: all 0.3s ease-in-out;
		position: relative;
	}
	&__img {
		overflow: hidden;
		line-height: 0;
		position: relative;

		&:hover {
			.o-default-gallery__thumbnail {
				transform: scale(1.05);
			}
			&:after {
				transform: translateY(0%);
			}
		}
		&:after {
			content: '';
			background-color: rgba($g-brand-color-1, 0.4);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: translateY(100%);
			transition: all 0.3s ease-in-out;
		}
	}
}

////////////////////
// Versions       //
////////////////////
