.m-list-simple {
	padding: 20px;
	border-radius: 30px;
	position: relative;
	overflow: hidden;
	&.animated {
		.m-list-simple {
			&__title {
				transform: translateY(0%);
			}

			&__list-item-inner {
				transform: translateY(0%);
			}
		}
	}

	&__bg {

	}

	&__title-wrapper {
		overflow: hidden;
	}
	&__title {
		text-align: center;
		font-weight: 500;
		transform: translateY(100%);
		transition: $g-trans-base-longer;
	}

	&__list {
		list-style-type: none;
	}

	&__list-item {
		overflow: hidden;
		margin-left: 0;
		margin-bottom: 10px;
	}

	&__list-item-inner {
		position: relative;
		margin-left: 0;
		padding: 15px 15px 15px 60px;
		border-radius: 10px;
		background-color: #fff;
		transition: $g-trans-base-2;
		transform: translateY(100%);

		&--1 {
			transition-delay: 0.1s;
		}
		&--2 {
			transition-delay: 0.2s;
		}
		&--3 {
			transition-delay: 0.3s;
		}
		&--4 {
			transition-delay: 0.3s;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__list-icon {
		@include absolute-general($top: 50%, $left: 15px);
		transform: translateY(-50%);
		width: 31px;
		height: 31px;
		border-radius: 50%;

		svg {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	&__list-txt {
		display: inline-block;
		font-weight: 600;
		@include bpm-sm {
			font-size: 14px;
		}
	}
}
