//////////////////////////////////////////////////
//                                              //
//  Molecule: Pagination                        //
//                                              //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

////////////////////
// Styling        //
////////////////////

.m-pagination {
	display: flex;
	justify-content: center;

	&__link {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin: 0 6px;
		text-align: center;
		line-height: 1;
		letter-spacing: normal;
		@include bpm-md {
			margin: 0 3px;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			color: $g-brand-color-4;
		}

		&.current {
			font-weight: 600;
			color: $g-brand-color-4;
		}

		&--prev,
		&--next {
			display: none;
			justify-content: center;
			align-items: center;
			border: 1px solid rgba(0, 0, 0, 0.1);
			font-size: 24px;
			font-weight: 400;
			opacity: 1;
			color: $g-heading-dark;

			&:hover {
				background: $g-brand-color-1;
				color: #fff;
			}
		}

		&--prev {
			margin-right: 5px;

			@include bpm-md {
				margin-right: 3px;
				font-size: 16px;
			}
		}
		&--next {
			margin-left: 5px;

			@include bpm-md {
				margin-left: 3px;
				font-size: 16px;
			}
		}
	}

	.link--inactive {
		display: none;
	}
}
