version: '3'
services:
    db:
        container_name: db_i360
        image: mysql:5.7
        platform: linux/amd64
        ports:
            - 127.0.0.1:3306:3306
        volumes:
            - "./.data/db:/var/lib/mysql:delegated"
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: wordpress
            MYSQL_DATABASE: wordpress
            MYSQL_USER: wordpress
            MYSQL_PASSWORD: wordpress

    wordpress:
        container_name: wordpress_i360
        depends_on:
            - db
        image: wordpress:5.7.2-apache
        volumes:
            - ".:/var/www/html/wp-content/themes/presspack:delegated"
            - "./wp-content/plugins:/var/www/html/wp-content/plugins:delegated"
            - "./wp-content/mu-plugins:/var/www/html/wp-content/mu-plugins:delegated"
            - "./wp-content/uploads:/var/www/html/wp-content/uploads:delegated"
            - "./uploads.ini:/usr/local/etc/php/conf.d/uploads.ini:delegated"
        links:
            - db
        ports:
            - 127.0.0.1:80:80
        restart: unless-stopped
        environment:
            WORDPRESS_DB_HOST: db:3306
            WORDPRESS_DB_USER: wordpress
            WORDPRESS_DB_PASSWORD: wordpress
            WORDPRESS_DEBUG: 1
    phpmyadmin:
        container_name: phpmyadmin_i360
        image: phpmyadmin/phpmyadmin:latest
        ports:
            - 8000:80
        restart: always
        volumes:
            - ./uploads.ini:/usr/local/etc/php/conf.d/uploads.ini:delegated
            - ./config.user.inc.php:/etc/phpmyadmin/config.user.inc.php:delegated
        environment:
            PMA_HOST: db
            MYSQL_ROOT_PASSWORD: wordpress
