//////////////////////////////////////////////////
//                                              //
//  Organism: Footer  		                    //
//                                              //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

////////////////////
// Styling        //
////////////////////

.o-i360-footer {
	position: relative;
	padding: 65px 0;
	background-color: rgba(107, 107, 107, 0.05);

	&__columns-wrapper {
		display: flex;
		margin-left: -20px;
	}

	&__column {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: calc(16.666% - 20px);
		margin-left: 20px;
		padding-top: 20px;

		&--logo {
			padding-top: 0;
		}

		&--1 {
			padding-left: 60px;
		}

		&--2 {
			padding-left: 28px;
		}

		&--3 {
			padding-left: 75px;
		}

		&--social {
			padding-left: 25px;
		}

		&--4 {
			padding-left: 35px;
		}
	}

	&__logo-wrapper {
		max-width: 150px;
	}

	&__icon {
		display: block;

		&:hover {
			opacity: .8;
		}
	}

	&__nav {
		.m-nav {
			&__item,
			&__link {
				line-height: 1;
			}

			&__item {
				padding-bottom: 10px;
			}

			&__link {
				font-size: 14px;
			}
		}
	}

	&__socials-wrapper {
		display: flex;
		align-items: center;

		.m-social-links__link {
			width: 30px;
			height: 30px;
			margin-right: 10px;
			background-color: $g-brand-color-4;
			box-shadow: none;
			color: $g-body-light;

			&:hover {
				&.facebook {
					@apply bg-facebook;
				}

				&.twitter {
					@apply bg-twitter;
				}

				&.linkedin {
					@apply bg-linkedin;
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__content-wrapper {
		font-size: 12px;
		line-height: 1.83;

		@include wysiwyg-content-styling;
	}
}
