//////////////////////////////////////////////////
//                                              //
//  Organism: Default Article Overview          //
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Component Variables        //
////////////////////////////////

////////////////////////////////
// Block Base Styling         //
////////////////////////////////
.o-i360-article-overview {
	overflow: hidden;
	background-color: #F4F8F8;
	position: relative;
	display: block;
	padding: 70px 0 80px;

	&__repeater {
		margin-top: 40px;
		@include outlining-card-1-by-3;
	}

	&__card {
		visibility: hidden;
		@include fadeInUp;

		&.m-card-post-alt {
			overflow: hidden;
			background-color: #fff;
			border: 1px solid #979797;
			border-radius: 10px;

			.m-card-post-alt {
				&__img-link-wrapper {
					margin-bottom: 0;
				}

				&__info {
					padding: 30px;
				}

				&__meta-info {
					padding-left: 0;
					padding-bottom: 25px;
				}

				&__date {
					text-transform: uppercase;
					font-size: 10px;
					font-weight: 600;
					letter-spacing: 3.13px;
					color: rgba(107, 107, 107, 0.6);
				}

				&__contnet {
					font-size: 14px;
					line-height: 22px;
				}
			}
		}
	}

	&__pagination-wrapper {
		margin-bottom: 40px;
	}
}

//////////////////////////////////////////
// Block Color Palette Versions         //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has multiple color palettes
 * "color-default" is required and the starting point
 * Both "color-dark" and "color-light" are required to style
 * Additional project color palettes might be present
 * and are required to style
 * ------------------------------------------------------------
 */
//.o-i360-resource-menu--color-default,
//.o-i360-resource-menu--color-dark {
//	.o-i360-resource-menu{
//		&__title {
//			//color: $g-body-dark;
//		}
//
//		&__content {
//			color: $g-body-dark;
//		}
//	}
//}
//
//.o-i360-resource-menu--color-light {
//	.o-i360-resource-menu{
//		&__title,
//		&__content {
//			color: $g-body-light;
//		}
//	}
//}


//////////////////////////////////////////
// Block Other Versions                 //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has versions beside
 * the color and alignment use cases above
 * ------------------------------------------------------------
 */
