{% spaceless %}
	{#######################################################}
	{# --------------------------------------------------- #}
	{# Extending one of the Base Block Layout Types        #}
	{# 													   #}
	{# The block wrapper, title, content, button		   #}
	{# and container are declared inside the 		       #}
	{# base block layout          						   #}
	{# --------------------------------------------------- #}
	{#######################################################}
	{% extends '03-organisms/base/base-block/base-block.twig' %}

	{########################################################}
	{# Block general settings                               #}
	{########################################################}
	{% set component_class = "o-i360-team" %}
	{% set container       = true %}
	{% set modal_number    = random() %}

	{#################################################################################}
	{# ----------------------------------------------------------------------------- #}
	{# CUSTOM DEV: Add custom block specific stuff here by                           #}
	{# overwriting {% block %}'s defined in the chosen Base Block Layout Type above  #}
	{# ----------------------------------------------------------------------------- #}
	{#################################################################################}
	{% block main_payload %}

		<div class="{{ component_class }}__repeater">
			<!-- Grabbing recent posts. ACF relationship field chosen entries have right of way -->
			{% if section.relationship %}
				{% set items = section.relationship %}
			{% endif %}

			{% for item in items %}
				{# Accessing WordPress post and making them available to Twig templates #}
				{% set item = TimberPost( item ) %}

				{% include '02-molecules/cards/card-staff/card-staff.twig' with {
					parent_class 		: component_class,
					item         		: item,
					modal_number        : modal_number,
					interval            : true,
					index       		: loop.index,
					add_class_on_anim   : true,
				} only %}

				{% include '02-molecules/modal/modal.twig' with {
					parent_class : component_class,
					version         : 'team',
					number          : modal_number,
					item			: {
						img      : item.thumbnail, 
						title    : item.title,
						subtitle : item.team_member_position_label,
						content  : item.content,
					}
				} only %}
			{% endfor %}
		</div>

	{% endblock %}

{% endspaceless %}
