//////////////////////////////////////////////////////////////////////
//// Hero Types                                                     //
////                                                                //
//// Each hero type has it's own alignment + text color options     //
//////////////////////////////////////////////////////////////////////
//
//// Client specific hero type. Each hero type has it's own alignment + text color options
.o-i360-shape {
	position: relative;
	overflow: hidden;

	&__gradient {
		@include absolute-tr;
		width: 100%;
		height: 100%;
	}

	&__img-wrapper {
		@include absolute-tr;
		width: 100%;
		height: 100%;
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__info-wrapper {
		max-width: 630px;
		padding: 140px 0;
	}

	&__title {
		letter-spacing: -0.81px;

		span {
			line-height: normal;
			letter-spacing: normal;
			color: $g-brand-color-1;
		}
	}

	&__subtitle {
		@include last-element-no-bm;
	}

	&__button-wrapper {
		padding-top: 20px;
	}
}
