{% spaceless %}
	{# Hero background options #}
	{% include '03-organisms/base/base-hero/base-hero-elements/base-hero-bg/base-hero-bg.twig' %}

	{# Wrapper div that functions as container and "flexbox #}
	<div class="{{ component_class }}__container l-container">
		<div class="{{ component_class }}__deco-wrapper">
			<svg xmlns="http://www.w3.org/2000/svg" width="423" height="423" viewBox="0 0 423 423"><defs><clipPath id="ibwla"><path d="M0 0h423v423H0z"/></clipPath></defs><g><g opacity=".07"><path fill="#fff" d="M284.575 158c-3.897-5.611-11.635-7-17.281-3.131-5.648 3.9-7.066 11.643-3.169 17.295.12.174.245.345.373.512a64.605 64.605 0 0 1 8.964 17.89c11.446 34.295-7.055 71.434-41.323 82.84-34.27 11.455-71.329-7.06-82.775-41.406-11.447-34.246 7.055-71.336 41.323-82.79a61.018 61.018 0 0 1 8.602-2.21 57.754 57.754 0 0 1 10.484-1.13c6.861-.145 12.306-5.87 12.161-12.696-.145-6.867-5.824-12.316-12.685-12.174a91.37 91.37 0 0 0-14.625 1.524 98.547 98.547 0 0 0-12.161 3.148c-47.325 16.05-72.689 67.455-56.652 114.817 16.037 47.362 67.402 72.746 114.726 56.696 47.325-16.05 72.689-67.455 56.652-114.817A91.086 91.086 0 0 0 284.575 158"/></g><g opacity=".07"><path fill="#fff" d="M247 127c7.18 0 13 5.82 13 13s-5.82 13-13 13-13-5.82-13-13 5.82-13 13-13"/></g><g opacity=".07"><path fill="#fff" d="M342.517 200.587c-.626-6.89-6.716-11.968-13.602-11.342C322 189.872 317 196 317.58 202.856c4.88 58.357-38.442 109.623-96.762 114.505C176.785 321 135.088 297 116.194 257c-24.7-53.056-1.713-116.13 51.342-140.847 40.056-18.66 87.464-10.491 118.993 20.497A12.065 12.065 0 0 0 291 139.5c6.476 2.411 13.672-.878 16.083-7.348a12.51 12.51 0 0 0-2.998-13.332c-39.026-38.577-97.944-48.726-147.613-25.427C125 108 100.664 134.606 88.834 167.247a131.132 131.132 0 0 0 4.533 100.232 130.365 130.365 0 0 0 73.807 67.682 130.902 130.902 0 0 0 100.165-4.537c49.856-23.254 79.886-75.196 75.178-130.037"/></g><g opacity=".07"><path fill="#fff" d="M318 148c7.18 0 13 5.82 13 13s-5.82 13-13 13-13-5.82-13-13 5.82-13 13-13"/></g><g opacity=".07"><path fill="#fff" d="M348.161 108.578c-4.327-5.362-12.161-6.202-17.545-1.876-5.15 4.155-6.161 11.608-2.302 16.983C343 143.116 352.652 165.913 356.32 190c12.136 79.73-42.665 154.194-122.4 166.328a146.053 146.053 0 0 1-108.29-26.572C60.597 282.061 46.547 190.684 94.25 125.66A146.036 146.036 0 0 1 190 67.68c24-3.68 48.516-1.34 71.402 6.79 1.954.703 4.05.92 6.107.631C274.337 74 279 67.531 277.834 60.703c-.732-4.439-3.834-8.145-8.009-9.703A171.203 171.203 0 0 0 122.42 66.416C42 115.891 16.894 221.191 66.377 301.612 102.457 360.25 170.195 391.53 238.239 381c93.34-14.555 157.23-102 142.702-195.311a170.998 170.998 0 0 0-32.78-77.11"/></g><g opacity=".07"><path fill="#fff" d="M306 71c7.18 0 13 5.82 13 13s-5.82 13-13 13-13-5.82-13-13 5.82-13 13-13"/></g><g opacity=".07"><g opacity=".07"/><g clip-path="url(#ibwla)" opacity=".07"><path fill="#fff" d="M412.89 146.907c-2.327-6.487-9.472-9.907-15.96-7.532-6.182 2.218-9.587 8.85-7.786 15.166C420.47 252.689 366.3 357.647 268.154 389 170 420.297 65.05 366.127 33.726 268c-2.726-8.64-4.87-17.447-6.344-26.374C10.721 140 79.608 44.085 181.246 27.423a186.484 186.484 0 0 1 74.166 2.809 186.067 186.067 0 0 1 88.137 49.492 12.164 12.164 0 0 0 5.897 3.37 12.69 12.69 0 0 0 11.793-3.317c4.868-4.873 4.868-12.777 0-17.639-82.489-82.701-216.4-82.873-299.101-.382-82.7 82.49-82.872 216.404-.383 299.106 82.49 82.701 216.401 82.872 299.102.382C417 305.214 437.12 222.457 412.89 146.907"/></g></g><g opacity=".07"><path fill="#fff" d="M382 94c7.18 0 13 5.82 13 13s-5.82 13-13 13-13-5.82-13-13 5.82-13 13-13"/></g></g></svg>
		</div>

		<div class="{{ component_class }}__info-wrapper">
			{% if post.get_field('hero_title') and post.hide_the_hero_title == false %}
				{% set title = post.get_field('hero_title')|replace({'<p>': "", '</p>': ""}) %}
			{% elseif post.title and post.hide_the_hero_title == false %}
				{% set title = post.title %}
			{% elseif category_page  %}
				{% set title = category_title %}
			{% else %}
				{% set title = false %}
			{% endif %}

			{% if post.get_field( 'hero_pretitle' ) %}
				{#The hero title if no hero title is specified in the back-end. Pulls the post.title#}
				{% include '01-atoms/content/pretitle/pretitle.twig' with {
					parent_class : component_class,
					pretitle     : post.get_field( 'hero_pretitle' )
				} only %}
			{% endif %}
			{% if title %}
				{% include '01-atoms/content/title/title.twig' with {
					parent_class : component_class,
					title        : title,
					h            : 1
				} only %}
			{% endif %}

			{% if post.get_field( 'hero_subtitle' ) %}
				{#The hero title if no hero title is specified in the back-end. Pulls the post.title#}
				{% include '01-atoms/content/subtitle/subtitle.twig' with {
					parent_class : component_class,
					subtitle     : post.get_field( 'hero_subtitle' )
				} only %}
			{% endif %}

			{% if post.get_field( 'hero_buttons' ) %}
				{% include '01-atoms/buttons/button-repeater/button-repeater.twig' with {
					parent_class : component_class,
					buttons      : post.get_field( 'hero_buttons' )
				} only %}
			{% endif %}
		</div>
    </div>
{% endspaceless %}
