{% spaceless %}
	{# Hero background options #}
	{% include '03-organisms/base/base-hero/base-hero-elements/base-hero-bg/base-hero-bg.twig' %}

	{# Wrapper div that functions as container and "flexbox #}
	<div class="{{ component_class }}__container l-container">
		<div class="{{ component_class }}__deco-wrapper">
			<svg width="423px" height="423px" viewBox="0 0 423 423" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<defs>
					<polygon id="path-1" points="0 0 423 0 423 423 0 423"></polygon>
				</defs>
				<g id="MISC-Pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.07">
					<g id="Landing_CaseStudy" transform="translate(-930.000000, -35.000000)">
						<g id="Hero" transform="translate(0.000000, 35.000000)">
							<g id="Group-18" transform="translate(930.000000, 0.000000)">
								<path d="M284.57477,158.040044 C280.677618,152.388861 272.940422,150.968704 267.293705,154.868939 C261.646411,158.769174 260.227954,166.51249 264.125106,172.164252 C264.245089,172.338019 264.369688,172.508899 264.498324,172.676316 C268.396629,178.136991 271.421017,184.172656 273.461888,190.56567 C284.908185,224.861295 266.407097,261.950473 232.13858,273.405825 C197.869486,284.861177 160.810202,266.345453 149.363905,232.04925 C137.917031,197.753625 156.418696,160.664448 190.687213,149.209096 C193.500477,148.268675 196.374309,147.521072 199.289097,146.970906 C202.744964,146.298929 206.252747,145.930612 209.772643,145.869419 C216.634192,145.724516 222.079014,140.040426 221.934226,133.174027 C221.789438,126.307051 216.109841,120.857922 209.24887,121.002824 C204.340512,121.11482 199.44946,121.623421 194.62359,122.524008 C190.507238,123.313754 186.445109,124.365016 182.462584,125.672022 C135.137801,141.721522 109.774011,193.127147 125.810825,240.489367 C141.84764,287.85101 193.212632,313.234865 240.537416,297.185364 C287.862199,281.135864 313.225989,229.730239 297.189175,182.368018 C294.242083,173.66523 289.988443,165.461806 284.57477,158.040044" id="Fill-1" fill="#FFFFFF"></path>
								<path d="M247,127 C254.179813,127 260,132.820321 260,140.000301 C260,147.179679 254.179813,153 247,153 C239.820187,153 234,147.179679 234,140.000301 C234,132.820321 239.820187,127 247,127" id="Fill-3" fill="#FFFFFF"></path>
								<path d="M342.516722,200.587449 C341.890748,193.697229 335.800989,188.618819 328.915274,189.245203 C322.02956,189.872167 316.954471,195.96533 317.580445,202.85613 C322.459446,261.21314 279.137865,312.47907 220.818434,317.360682 C176.785018,321.046999 135.087837,297.004085 116.194328,257.033379 C91.4947497,203.944029 114.480586,140.869694 167.535802,116.153374 C207.591759,97.4930632 255.014369,105.661593 286.529464,136.650457 C287.791855,137.922382 289.323432,138.895337 291.010487,139.499081 C297.476178,141.911151 304.671689,138.621911 307.082762,132.15199 C308.813328,127.506069 307.637378,122.276143 304.084584,118.819713 C265.058961,80.2428412 206.141402,70.0941493 156.471899,93.3928337 C125.005536,108.027222 100.663906,134.605858 88.8336348,167.247469 C76.9964019,199.936683 78.6271832,235.993507 93.3674505,267.478718 C107.992269,298.96567 134.553526,323.323228 167.173793,335.161239 C199.841632,347.006218 235.874879,345.374369 267.339502,330.624457 C317.19523,307.369893 347.22458,255.427654 342.516722,200.587449" id="Fill-5" fill="#FFFFFF"></path>
								<path d="M318,148 C325.179813,148 331,153.820321 331,161.000301 C331,168.179679 325.179813,174 318,174 C310.820187,174 305,168.179679 305,161.000301 C305,153.820321 310.820187,148 318,148" id="Fill-7" fill="#FFFFFF"></path>
								<path d="M348.160961,108.578367 C343.834533,103.215814 335.979412,102.375924 330.615985,106.701647 C325.465172,110.856497 324.454823,118.309508 328.313732,123.684804 C343.02579,143.116385 352.652498,165.913319 356.320809,190.006579 C368.456591,269.729525 313.656132,344.194179 233.920777,356.327984 C195.729677,362.140024 156.791822,352.58555 125.630879,329.756179 C60.5965744,282.060849 46.5466897,190.683705 94.2497907,125.659994 C117.188319,94.3929136 151.624208,73.5329402 189.963037,67.6797752 C213.971006,64.0074282 238.516014,66.3400057 261.401823,74.4701417 C263.356478,75.1727532 265.451911,75.3899661 267.509108,75.1015073 C274.336499,73.9766338 278.959544,67.5303327 277.833908,60.7034744 C277.102215,56.2642209 274.045097,52.5576991 269.825265,50.9943451 C220.895145,33.5014621 166.667642,39.1750644 122.419659,66.4164647 C41.9856332,115.890624 16.8943188,221.191408 66.3765389,301.611752 C102.456564,360.250561 170.195176,391.529805 238.238515,380.971518 C331.57883,366.445474 395.46896,279.014655 380.94055,185.688965 C376.578203,157.665598 365.313732,131.166777 348.160961,108.578367" id="Fill-9" fill="#FFFFFF"></path>
								<path d="M306,71 C313.179813,71 319,76.8203214 319,84.0003005 C319,91.1796786 313.179813,97 306,97 C298.820187,97 293,91.1796786 293,84.0003005 C293,76.8203214 298.820187,71 306,71" id="Fill-11" fill="#FFFFFF"></path>
								<g id="Group-15">
									<mask id="mask-2" fill="white">
										<use xlink:href="#path-1"></use>
									</mask>
									<g id="Clip-14"></g>
									<path d="M412.889529,146.906758 C410.562696,140.419815 403.417653,137.047717 396.930797,139.37458 C390.748122,141.592517 387.343044,148.22431 389.144369,154.54091 C420.469115,252.688665 366.299582,357.646667 268.153732,388.971836 C170.007303,420.297006 65.0507181,366.126741 33.725972,267.979566 C30.975026,259.360436 28.8550363,250.553003 27.3822257,241.626213 C10.7206937,139.987004 79.6079038,44.0849975 181.246319,27.4232406 C205.906337,23.3807786 231.127784,24.335627 255.411777,30.2315841 C288.795097,38.2800059 319.299426,55.4093373 343.548656,79.723787 C345.154726,81.3843426 347.199975,82.552989 349.445692,83.0935676 C353.685672,84.0843387 358.137708,82.8322589 361.239185,79.7765123 C366.106645,74.904352 366.106645,67.0100501 361.239185,62.1384692 C278.750204,-20.5631061 144.838001,-20.734608 62.1375428,61.7560663 C-20.5629156,144.246161 -20.7344152,278.160173 61.7551451,360.861748 C144.244126,443.563324 278.156329,443.734246 360.856788,361.244151 C417.030432,305.213439 437.120218,222.45682 412.889529,146.906758" id="Fill-13" fill="#FFFFFF" mask="url(#mask-2)"></path>
								</g>
								<path d="M382,94 C389.179813,94 395,99.8203214 395,107.000301 C395,114.179679 389.179813,120 382,120 C374.820187,120 369,114.179679 369,107.000301 C369,99.8203214 374.820187,94 382,94" id="Fill-16" fill="#FFFFFF"></path>
							</g>
						</g>
					</g>
				</g>
			</svg>
		</div>

		<div class="{{ component_class }}__info-wrapper">
			{% if post.get_field('hero_title') and post.hide_the_hero_title == false %}
				{% set title = post.get_field('hero_title')|replace({'<p>': "", '</p>': ""}) %}
			{% elseif post.title and post.hide_the_hero_title == false %}
				{% set title = post.title %}
			{% elseif category_page  %}
				{% set title = category_title %}
			{% else %}
				{% set title = false %}
			{% endif %}

			{% if post.get_field( 'hero_pretitle' ) %}
				{#The hero title if no hero title is specified in the back-end. Pulls the post.title#}
				{% include '01-atoms/content/pretitle/pretitle.twig' with {
					parent_class : component_class,
					pretitle     : post.get_field( 'hero_pretitle' )
				} only %}
			{% endif %}
			{% if title %}
				{% include '01-atoms/content/title/title.twig' with {
					parent_class : component_class,
					title        : title,
					h            : 1
				} only %}
			{% endif %}

			{% if post.get_field( 'hero_subtitle' ) %}
				{#The hero title if no hero title is specified in the back-end. Pulls the post.title#}
				{% include '01-atoms/content/subtitle/subtitle.twig' with {
					parent_class : component_class,
					subtitle     : post.get_field( 'hero_subtitle' )
				} only %}
			{% endif %}

			{% if post.get_field( 'hero_buttons' ) %}
				{% include '01-atoms/buttons/button-repeater/button-repeater.twig' with {
					parent_class : component_class,
					buttons      : post.get_field( 'hero_buttons' )
				} only %}
			{% endif %}
		</div>
    </div>
{% endspaceless %}
