//////////////////////////////////////////////////
//                                              //
//  Atom: Content				                //
//                                              //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

////////////////////
// Styling        //
////////////////////
.a-content {
	// Super important mixing here. Includes a bunch of default styling that is applied to the content all blocks.
	// Think heading, links, font styles.
	@include wysiwyg-content-styling;
	@include main-content-styling-block-only;
}
