//////////////////////////////////////////////////
//                                              //
//  Organism: Default Article Single            //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Component Variables        //
////////////////////////////////

////////////////////////////////
// Block Base Styling         //
////////////////////////////////
.o-i360-article-single {
	padding-bottom: 155px;
	background-color: $g-brand-color-5;

	&__img-wrapper {
		position: relative;
		height: 500px;

		&::before {
			content: "";
			@include absolute-bl;
			width: 100%;
			height: 60%;
			background-image: linear-gradient(180deg, rgba(250, 252, 252, 0) 0%, $g-brand-color-5 100%);
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__container {
		max-width: 1010px;
		@include bpm-xs {
			width: 100%;
		}
	}

	&__inner {
		margin-top: -155px;
		padding: 35px;
		border-radius: 10px;
		background-color: #fff;
		@include bp-xs {
			padding: 50px;
		}
		@include bp-md {
			padding: 60px 100px;
		}
	}

	&__pretitle {
		margin-bottom: 15px;
		font-weight: 600;
	}

	&__info-wrapper {
		margin-bottom: 25px;
		@include bp-xs {
			display: flex;
			align-items: center;
		}
	}

	&__date {
		letter-spacing: -0.2px;
	}

	&__social-share {
		margin-left: -13px;
		@include bp-xs {
			margin-left: 20px;
		}
		@include bp-sm {
			margin-left: 50px;
		}
	}

	&__main-content-wrapper {
		h1, h2, h3, h4, h5, h6 {
			//padding-bottom: 0;
			color: $g-brand-color-4;
		}

		p {
			margin: 0 0 45px;
		}

		a {
			text-decoration: underline;
			color: $g-brand-color-1;
			transition: $g-trans-base;

			&:hover {
				text-decoration: none;
				color: $g-brand-color-2;
			}
		}

		@include last-element-no-bm;
	}
}

//////////////////////////////////////////
// Block Color Palette Versions         //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has multiple color palettes
 * "color-default" is required and the starting point
 * Both "color-dark" and "color-light" are required to style
 * Additional project color palettes might be present
 * and are required to style
 * ------------------------------------------------------------
 */
//.o-default-resource-menu--color-default,
//.o-default-resource-menu--color-dark {
//	.o-default-resource-menu{
//		&__title {
//			//color: $g-body-dark;
//		}
//
//		&__content {
//			color: $g-body-dark;
//		}
//	}
//}
//
//.o-default-resource-menu--color-light {
//	.o-default-resource-menu{
//		&__title,
//		&__content {
//			color: $g-body-light;
//		}
//	}
//}


//////////////////////////////////////////
// Block Other Versions                 //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has versions beside
 * the color and alignment use cases above
 * ------------------------------------------------------------
 */
