//////////////////////////////////////////////////
//                                              //
//  Organism: Default Text                      //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Component Variables        //
////////////////////////////////

////////////////////////////////
// Block Base Styling         //
////////////////////////////////

.o-default-image-text {
	&__title-wrapper,
	&__title,
	&__content {

	}
	&__button-wrapper {

	}

	&__container {
		.o-default-image-text__group-text {
			@include bpm-sm {
				width: 100%;
				padding: 20px 0;
			}
		}

		.o-default-image-text__content-wrapper {
			&--img-left {
				.o-default-image-text__group-text {
					@include bp-sm {
						padding-left: 20px;
					}
				}
				.o-default-image-text__group-img {
					@include bp-sm {
						padding-right: 20px;
					}
				}
			}

			&--img-right {
				.o-default-image-text__group-text {
					@include bp-sm {
						padding-right: 20px;
					}
				}
				.o-default-image-text__group-img {
					@include bp-sm {
						padding-left: 20px;
					}
				}
			}
		}
	}

	&__content-wrapper {
		display: flex;
		@include bpm-sm {
			flex-direction: column-reverse;
		}

		&--img-left {
			@include bp-sm {
				flex-direction: row-reverse;
			}
		}

		&--img-right {
			@include bp-sm {
				flex-direction: row;
			}
		}

		.o-dbm__button-wrapper {
			margin: 0;
		}
	}

	&__group-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		@include bp-sm {
			width: 50%;
			padding: 20px 40px;
		}
		@include bpm-sm {
			width: 100%;
			padding: 20px 20px;
		}
	}

	&__group-img {
		@include bp-sm {
			width: 50%;
			display: flex;
			align-items: center;
		}
		@include bpm-sm {
			width: 100%;
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__button-wrapper {
		text-align: left !important;
	}
}

//////////////////////////////////////////
// Block Alignment Versions             //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has multiple alignments
 * "align-default" is required and the starting point
 * Both "align-center" and "align-left" are required to style
 * ------------------------------------------------------------
 */

.o-default-image-text--align-default,
.o-default-image-text--align-left {
	.o-default-image-text {
		&__title {
			text-align: left;
		}

		&__content {
			text-align: left;
		}

		&__button-wrapper {
			justify-content: flex-start;
		}
	}
}

.o-default-image-text--align-center {
	.o-default-image-text {
		&__title {

		}

		&__content {

		}

		&__button-wrapper {

		}
	}
}



//////////////////////////////////////////
// Block Color Palette Versions         //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has multiple color palettes
 * "color-default" is required and the starting point
 * Both "color-dark" and "color-light" are required to style
 * Additional project color palettes might be present
 * and are required to style
 * ------------------------------------------------------------
 */

.o-default-image-text--color-default,
.o-default-image-text--color-dark {
	.o-default-image-text {
		&__title {
			color: $g-heading-dark;
		}

		&__content {
			color: $g-body-dark;
		}
	}
}

.o-default-image-text--color-light {
	.o-default-image-text {
		&__title {
			color: $g-heading-light;
		}

		&__content {
			color: $g-body-light;
		}
	}
}
