.m-list-icon-alt {
	list-style-type: none;

	&__list-item {
		margin-bottom: 10px;
		margin-left: 0;
		padding: 0;
	}

	&__list-item-inner {
		position: relative;
		padding: 22px 22px 22px 60px;
		background-color: $g-body-light;
		border-radius: 10px;
		border: 1px solid $g-brand-color-7;
		visibility: hidden;
		transition: $g-trans-base;
		@include fadeInUp;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__list-item-icon {
		@include absolute-general($top: 14px, $left: 15px);
		width: 31px;
		height: 31px;

		svg {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	&__title {
		padding-bottom: 10px;
		font-size: 16px;
		font-weight: 600;
		line-height: 1;
		letter-spacing: normal;
	}

	&__content {
		font-size: 14px;
		line-height: 22px;
		letter-spacing: normal;
	}
}
