//////////////////////////////////////////////////
//                                              //
//  Organism: Author
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Organism Variables         //
////////////////////////////////



////////////////////////////////
// Organism Base Styling      //
////////////////////////////////

// Each object class listed below probably has it's own SCSS file.
// Please contact the dev manager for help to decide if the SCSS of an object itself needs to be overwritten or extended here.
// If needed, additional CSS properties can be given to the objects in this block by adding properties to the classes below.

.o-i360-author {
	padding: 50px 0;
	background-color: $g-brand-color-4;
	@include bp-xs {
		padding: 80px 0 95px;
	}

	&__container {
		display: flex;
		max-width: 1010px;
		@include bpm-xs {
			flex-wrap: wrap;
		}
	}

	&__img-wrapper {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 130px;
		height: 130px;
		margin: 0 auto 30px;
		overflow: hidden;
		background-color: #fff;
		border-radius: 50%;
		@include bp-xs {
			margin: 0;
		}
	}

	&__info {
		flex-basis: 100%;
		text-align: center;
		@include bp-xs {
			flex-basis: auto;
			padding-left: 30px;
			text-align: left;
		}
	}

	&__title,
	&__content {
		color: $g-body-light;
	}
}


/////////////////////////////
// Organism Versions       //
/////////////////////////////

// This organism is most likely inheriting styles from the default-organism.scss file.
// If needed, the look & feel of organism versions can be modified below.


//////////////////////////////////////////
// Organism Versions -- Alignments      //
//////////////////////////////////////////

// Covers scenario(s) where this organism has multiple alignments ..
// "align-default" is the starting point and is required to style

// Covers scenario(s) where this organism has multiple alignments .. "align-default" is the starting point
.o-i360-author--align-center,
.o-i360-author--align-default {
	.o-i360-author {
		&__title-wrapper,
		&__title,
		&__content {

		}

		&__button-wrapper {

		}
	}
}

.o-i360-author--align-left {
	.o-i360-author {
		&__title-wrapper,
		&__title,
		&__content {

		}

		&__button-wrapper {

		}
	}
}


/////////////////////////////////////////////
// Organism Color Palette Versions         //
/////////////////////////////////////////////
/**
 * Covers scenario(s) where this organism has multiple color palettes
 * "color-default" is required and the starting point
 * Both "color-dark" and "color-light" are required to style
 * Additional project color palettes might be present
 * and are required to style
 * ------------------------------------------------------------
 */
.o-i360-author--color-default,
.o-i360-author--color-dark {
    .o-i360-author {
		&__title {
			color: $g-heading-dark;
		}

		&__content {
			color: $g-body-dark;
		}
	}
}

.o-i360-author--color-light {
	.o-i360-author {
		&__title,
		&__content {
			color: $g-body-light;
		}
	}
}


//////////////////////////////////////////
// Organism Other Versions                 //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this organism has versions beside
 * the color and alignment use cases above
 * ------------------------------------------------------------
 */

