{% spaceless %}
	{# Hero background options #}
	{% include '03-organisms/base/base-hero/base-hero-elements/base-hero-bg/base-hero-bg.twig' %}

	<div class="{{ component_class }}__deco-wrapper">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 532 550"><defs><clipPath id="mevqa"><path d="M0 0h532v550H0z"/></clipPath><clipPath id="mevqb"><path d="M-382-80h714v714h-714z"/></clipPath></defs><g><g><g/><g clip-path="url(#mevqa)"><g><path fill="#c9f84a" d="M98.779 187.081c-6.924-9.416-20.164-11.437-29.58-4.512-9.414 6.924-11.435 20.166-4.511 29.583a112.7 112.7 0 0 1 15.491 30.084c19.387 58.248-12.107 121.189-70.352 140.578-58.24 19.394-121.173-12.109-140.56-70.357-19.392-58.253 12.107-121.194 70.353-140.583 4.797-1.6 9.7-2.874 14.674-3.796 5.92-1.078 11.921-1.735 17.947-1.855 11.656-.223 20.906-9.903 20.655-21.56C-7.354 133-17 123.754-28.66 124a154.122 154.122 0 0 0-25.067 2.612A151.973 151.973 0 0 0-74.333 132C-154.682 159-198 246-171 326.316-144 406.676-57 450 23.333 423 103.677 396 146.947 309 120 228.648a154.565 154.565 0 0 0-21.221-41.566"/></g><g><path fill="#c9f84a" d="M34.5 138c11.873 0 21.5 9.627 21.5 21.5S46.373 181 34.5 181 13 171.373 13 159.5 22.627 138 34.5 138"/></g><g><path fill="#fff" d="M28 278c0 28.719-23.281 52-52 52s-52-23.281-52-52 23.281-52 52-52 52 23.281 52 52z"/></g><g><path fill="#4cc48f" d="M195.141 258.062c-1.491-11.538-12.053-19.683-23.59-18.192-10.903 1.41-18.889 10.967-18.338 21.945 8.696 98.072-63.758 184.626-161.83 193.316-98.07 8.696-184.624-63.758-193.32-161.83C-210.628 195.23-138.174 108.675-40.103 100 12 95.361 63.562 113.884 100.827 150.639c2.173 2.196 4.738 3.902 7.605 5.003 10.843 4.218 23.051-1.156 27.269-11.998a21.071 21.071 0 0 0-5.254-23.026C43.804 35-95.806 35.91-181.378 122.55c-85.622 86.644-84.713 226.254 1.93 311.832C-92.803 520 46.807 519.09 132.38 432.446a220.5 220.5 0 0 0 62.762-174.384"/></g><g><path fill="#4cc48f" d="M155.5 171c11.873 0 21.5 9.627 21.5 21.5s-9.627 21.5-21.5 21.5-21.5-9.627-21.5-21.5 9.627-21.5 21.5-21.5"/></g><g><path fill="#27b1a8" d="M205.078 103.068c-6.648-9.541-19.772-11.887-29.315-5.24-9.544 6.646-11.89 19.768-5.242 29.31.345.495.71.97 1.095 1.435 82.159 108.243 60.996 262.585-47.271 344.734-108.263 82.144-262.631 60.98-344.79-47.307-82.158-108.2-60.996-262.541 47.267-344.69C-107 31.08-19.885 17.654 58.377 45.608a20.364 20.364 0 0 0 10.303 1c11.494-1.77 19.377-12.522 17.602-24.013A21.08 21.08 0 0 0 72.632 6c-149.877-53.743-314.95 24.166-368.703 174-16.245 45.294-20.929 93.918-13.53 141.456C-285.347 478.883-138 586.846 19.413 562.598c157.455-24.25 265.437-171.53 241.184-328.957a288.736 288.736 0 0 0-55.52-130.573"/></g><g><path fill="#27b1a8" d="M155 61.5c0 11.873-9.627 21.5-21.5 21.5S112 73.373 112 61.5 121.627 40 133.5 40 155 49.627 155 61.5z"/></g><g><g/><g clip-path="url(#mevqb)"><path fill="#147e79" d="M314.793 168c-2.923-11.27-14.423-18-25.692-15.109-11.269 2.919-18.032 14.423-15.101 25.692.198.791.448 1.572.743 2.333 53.137 165.57-38.007 342.863-203.568 396-165.567 53.137-342.858-38.008-395.994-203.577C-378 207.775-286.817 30.482-121.25-22.655c112.42-36.08 235.573-6.233 318.997 77.312C206 63 219.34 63 227.635 54.807c8.295-8.21 8.365-21.592.15-29.887C88.566-114.697-137.47-115-277.08 24.209c-139.615 139.22-139.921 365.26-.716 504.872C-138.577 668.697 87.46 669 227.074 529.79c94.833-94.564 128.76-234.255 87.87-361.791z"/></g></g><g><path fill="#147e79" d="M261.5 81c11.873 0 21.5 9.627 21.5 21.5s-9.627 21.5-21.5 21.5-21.5-9.627-21.5-21.5S249.627 81 261.5 81"/></g></g></g></g></svg>
	</div>

	{# Wrapper div that functions as container and "flexbox #}
	<div class="{{ component_class }}__container l-container">
		<div class="{{ component_class }}__info-wrapper">
			{% if post.get_field('hero_title') and post.hide_the_hero_title == false %}
				{% set title = post.get_field('hero_title')|replace({'<p>': "", '</p>': ""}) %}
			{% elseif post.title and post.hide_the_hero_title == false %}
				{% set title = post.title %}
			{% elseif category_page  %}
				{% set title = category_title %}
			{% else %}
				{% set title = false %}
			{% endif %}

			{% if title %}
				{% include '01-atoms/content/title/title.twig' with {
					parent_class : component_class,
					title        : title,
					h            : 1
				} only %}
			{% endif %}

			{% if post.get_field( 'hero_subtitle' ) %}
				{#The hero title if no hero title is specified in the back-end. Pulls the post.title#}
				{% include '01-atoms/content/subtitle/subtitle.twig' with {
					parent_class : component_class,
					subtitle     : post.get_field( 'hero_subtitle' )
				} only %}
			{% endif %}

            {% if post.get_field( 'hero_content' ) %}
                {% include '01-atoms/content/content/content.twig' with {
                    parent_class        : component_class,
                    content             : post.get_field( 'hero_content' ),
                    add_class_on_anim   : true
                } only %}
            {% endif %}

			{% if post.get_field( 'hero_buttons' ) %}
				{% include '01-atoms/buttons/button-repeater/button-repeater.twig' with {
					parent_class : component_class,
					buttons      : post.get_field( 'hero_buttons' )
				} only %}
			{% endif %}
		</div>
    </div>
{% endspaceless %}
