{% spaceless %}
    <button class="{{ parent_class }}__hamburger js-hamburger hamburger hamburger--collapse hamburger--{{ parent_class }}" type="button"
            aria-label="Menu" aria-controls="mobile-nav" data-module="hamburger">
<span class="hamburger-box">
	<span class="hamburger-inner"></span>
</span>
    </button>
{% endspaceless %}
