.o-i360-text-heavy {
	padding: 70px 0 135px;

	&__repeater {
		margin-top: 40px;
		padding: 60px 50px;
		background-color: #fff;
		border-radius: 10px;
	}

	&__repeater-item {
		display: flex;
		padding: 64px 0;
		border-top: 1px solid $g-brand-color-6;
		@include bpm-sm {
			flex-wrap: wrap;
		}

		&:first-child {
			padding-top: 0;
			border-top: none;
		}

		&:last-child {
			padding-bottom: 0;
		}
	}

	&__repeater-item-title {
		flex-basis: 100%;
		flex-grow: 0;
		flex-shrink: 0;
		@include bp-sm {
			flex-basis: 200px;
		}
	}

	&__repeater-item-content {
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: 100%;
		@include bp-sm {
			flex-basis: 710px;
			margin: 0 auto;
			padding: 0 15px;
		}
	}
}
