//////////////////////////////////////////////////
//                                              //
//  Atom: Button				                //
//                                              //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

////////////////////
// Styling        //
////////////////////

// 1: Normal Button
.a-btn {
	@include btn;

	&:hover {
		.a-btn__btn-icon {
			transform: translateX(3px);
		}
	}

	&--with-icon {
		padding: 16px 72px 16px 27px;
		@include bpm-sm {
			padding: 15px 60px 15px 25px;
		}
	}

	&__btn-icon {
		@include absolute-general($top: 0, $right: 24px, $bottom: 0);
		width: 20px;
		height: 20px;
		margin: auto 0;
		transition: $g-trans-base;

		svg {
			display: block;
			width: 100%;
			height: 100%;

			path {
				transition: $g-trans-base;
			}
		}
	}
}

// 2: Links
.a-link {
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	color: $g-brand-color-1;

	&--underline {
		@include underline-special;
		@include underline-special-reverse;

		&::before {
			top: calc(100% - 1px);
			height: 1px;
			background-color: $g-brand-color-1;
		}

		&:hover {
			&::before {
				//background-color: rgba($g-brand-color-1, .5);
			}
		}
	}
}
////////////////////
// Versions       //
////////////////////

// 4: Button Types
.a-btn--primary {
	@include btn-primary;
}

.a-btn--secondary {
	@include btn-secondary;
}

.a-btn--tertiary {
	@include btn-tertiary;
}

.a-btn--open-primary {
	@include btn-open-primary;
}

.a-btn--open-secondary {
	@include btn-open-secondary;
}

.a-btn--open-tertiary {
	@include btn-open-tertiary;
}

.a-btn--small {
	@include btn-small;
}
