//////////////////////////////////////////////////
//                                              //
//  Atom: Card Post				                //
//                                              //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

////////////////////
// Styling        //
////////////////////

.m-card-post {
	overflow: hidden;
	background-color: #fff;
	border-radius: 10px;
	transition: $g-trans-base;

	&__img-link {
		overflow: hidden;

		&:hover {
			.m-card-post {
				&__img {
					transform: scale(1.1);
				}
			}
		}
	}

	&__img-wrapper {
		height: 250px;
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: $g-trans-base-longer!important;
	}

	&__info {
		border-right: 1px solid rgba($g-grey-color-2,.2);
		border-bottom: 1px solid rgba($g-grey-color-2,.2);
		border-left: 1px solid rgba($g-grey-color-2,.2);
		border-radius: 0 0 10px 10px;
		padding: 32px;
	}

	&__pretitle {
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 600;
		line-height: 1;
		letter-spacing: 3.13px;
		color: rgba(107, 107, 107, 0.6);
		margin-bottom: 20px;
	}

	&__title-link {
		display: inline-block;
		margin-bottom: 25px;

		&:hover {
			.m-card-post__title {
				color: $g-brand-color-1;
			}
		}
	}

	&__title {
		padding-bottom: 0;
		line-height: 1;
		transition: $g-trans-base;
	}

	&__link-wrapper {
		margin-top: 20px;
	}

	&__link {
		position: relative;
		display: inline-block;
		font-weight: 500;
		color: $g-heading-dark;
		@include underline-special-reverse;
		&:hover {
			color: $g-heading-dark;
		}
	}


	////////////////////
	// Versions       //
	////////////////////

	// Used for case studies
	&--big {
		.m-card-post {

			&__img-wrapper {
				height: 275px;
			}

			&__title {
				font-size: 36px;
				letter-spacing: -0.43px;
			}
		}
	}

	&--default {

	}
}
