//////////////////////////////////////////////////
//                                              //
//  Atom: Card Post				                //
//                                              //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

////////////////////
// Styling        //
////////////////////

.m-card-post {
	transition: $g-trans-base;

	&__img-wrapper {
		position: relative;
		height: 200px;
		background-color: rgba(0, 0, 0, 0.8);
	}

	&__img-link {
		line-height: 0;
		overflow: hidden;
		&:hover {
			.m-card-post {
				&__img {
					transform: scale(1.1);
				}
			}
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: $g-trans-base-longer !important;
		transform: scale(1);
	}

	&__info {
		padding: 35px 0;
		border-bottom: 1px solid $g-body-dark;
	}

	&__title,
	&__title-link {
		color: $g-brand-color-4;
	}

	&__title {
		padding-bottom: 5px;
		transition: $g-trans-base;
		&:hover {
			color: $g-brand-color-1;
		}
	}

	&__description,
	&__link {
	}

	&__content {
		padding-bottom: 15px;
	}

	&__link-wrapper {
		margin-top: 20px;
	}

	&__link {
		position: relative;
		display: inline-block;
		font-weight: 700;
		color: $g-heading-dark;
		@include underline-special-reverse;
		&:hover {
			color: $g-heading-dark;
		}
	}

	&__meta {
		font-size: 12px;
		font-weight: 300;
		letter-spacing: -0.15px;
	}
}
