//////////////////////////////////////////////////
//                                              //
//  Molecule: Card Simple Alt			        //
//                                              //
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

////////////////////
// Styling        //
////////////////////

.m-card-simple-alt {
	display: flex;
	flex-direction: column;
	@include bp-sm {
		margin: 25px 0!important;
	}
	@include bpm-sm {
		padding: 40px 0;
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}

	&:nth-child(odd) {
		@include bp-sm {
			padding-right: 40px;
			border-right-width: 1px;
			border-right-style: solid;
		}
		@include bp-lg {
			padding-right: 110px;
		}
	}

	&:nth-child(even) {
		@include bp-sm {
			padding-left: 40px;
		}
		@include bp-lg {
			padding-left: 110px;
		}
	}

	&:first-child {
		@include bpm-sm {
			padding-top: 0;
		}
	}

	&:last-child {
		@include bpm-sm {
			padding-bottom: 0;
			border-bottom: none;
		}
	}

	&__img-wrapper {
		position: relative;
		margin-bottom: 40px;
		overflow: hidden;
		border-radius: 10px;
		@include bp-sm {
			height: 214px;
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__title {
		line-height: 1.3;
		@include bp-md {
			padding-bottom: 40px;
		}
		@include bpm-md {
			font-size: 26px;
		}
	}

	&__content {
		padding-bottom: 20px;
		@include bp-md {
			padding-bottom: 40px;
		}
	}

	&__link-wrapper {
		margin-top: auto;
	}

	&__link {
		font-size: 20px;
		font-weight: 600;
		line-height: 1.4;
		letter-spacing: normal;

		&::before {
			top: calc(100% - -1px);
			height: 1px;
		}
	}

	// Molecule Other Versions
	&--brand-color-accent-default {
		@include bpm-sm {
			border-bottom-color: $g-body-light;
		}

		&:nth-child(odd) {
			@include bp-sm {
				border-right-color: $g-body-light;
			}
		}

		.m-card-simple-alt {
			&__content {
				color: $g-body-light;
			}

			//&__link {
			//	color: $g-body-light;
			//
			//	&::before {
			//		background-color: $g-body-light;
			//	}
			//}
		}
	}

	&--brand-color-accent-dark,
	&--brand-color-accent-light {
		@include bpm-sm {
			border-bottom-color: $g-grey-color-2;
		}

		&:nth-child(odd) {
			@include bp-sm {
				border-right-color: $g-grey-color-2;
			}
		}
	}

	&--brand-color-accent-dark {
		.m-card-simple-alt {
			&__title {
				span {
					color: $g-brand-color-2;
				}
			}

			&__link {
				color: $g-brand-color-2;

				&::before {
					background-color: $g-brand-color-2;
				}
			}
		}
	}

	&--brand-color-accent-light {
		.m-card-simple-alt {
			&__title {
				span {
					color: $g-brand-color-7;
				}
			}

			&__link {
				color: $g-brand-color-7;

				&::before {
					background-color: $g-brand-color-7;
				}
			}
		}
	}

	&--contains-modal {
		z-index: $g-z90;

		&-active {
			z-index: $g-z500;
		}

		.m-card-simple-alt__img-wrapper {
			@include bpm-sm {
				height: 47.3vw;
			}
		}
	}
}
