//////////////////////////////////////////////////
//                                              //
//  Molecule: Card Simple Alt			        //
//                                              //
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

////////////////////
// Styling        //
////////////////////

.m-card-simple-alt {
	display: flex;
	flex-direction: column;
	@include bp-sm {
		margin: 25px 0!important;
	}
	@include bpm-sm {
		padding: 40px 0;
		border-bottom: 1px solid $g-grey-color-2;
	}

	&:nth-child(odd) {
		@include bp-sm {
			padding-right: 40px;
			border-right: 1px solid $g-grey-color-2;
		}
		@include bp-lg {
			padding-right: 110px;
		}
	}

	&:nth-child(even) {
		@include bp-sm {
			padding-left: 40px;
		}
		@include bp-lg {
			padding-left: 110px;
		}
	}

	&:first-child {
		@include bpm-sm {
			padding-top: 0;
		}
	}

	&:last-child {
		@include bpm-sm {
			padding-bottom: 0;
			border-bottom: none;
		}
	}

	&__img-wrapper {
		margin-bottom: 40px;
		overflow: hidden;
		border-radius: 10px;
		@include bp-sm {
			height: 214px;
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__title {
		line-height: 1.3;
		@include bp-md {
			padding-bottom: 40px;
		}
		@include bpm-md {
			font-size: 26px;
		}

		span {
			color: $g-brand-color-2;
		}
	}

	&__content {
		padding-bottom: 20px;
		@include bp-md {
			padding-bottom: 40px;
		}
	}

	&__link-wrapper {
		margin-top: auto;
	}

	&__link {
		font-size: 20px;
		font-weight: 600;
		line-height: 1.4;
		letter-spacing: normal;
		color: $g-brand-color-2;

		&::before {
			top: calc(100% - 5px);
			height: 1px;
			background-color: $g-brand-color-2;
		}
	}
}
