.o-i360-comparison-table {
	padding: 25px 0 55px;
	@include bp-sm {
		padding: 0 0 70px;
	}

	&__container {
		max-width: 980px;
		width: 100%;
	}

	&__head {
		max-width: 780px;
		margin: 0 auto;
	}

	&__cards-wrapper {
		display: flex;
		flex-wrap: wrap;
		@include bp-sm {
			margin-left: -20px;
		}

		.m-list-simple {
			flex-grow: 0;
			flex-shrink: 1;
			flex-basis: 100%;
			margin-bottom: 20px;
			@include bp-sm {
				flex-basis: calc(50% - 20px);
				margin-left: 20px;
				margin-bottom: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__list {
		&--cons {
			.m-list-simple {
				&__bg {
					background-color: $g-brand-color-5;
				}

				&__title {
					color: $g-body-dark;
				}

				&__list-item-inner {
					border: 1px solid #979797;
					@include bp-md {
						&--1 {
							transition-delay: 0.5s;
						}
						&--2 {
							transition-delay: 1.5s;
						}
						&--3 {
							transition-delay: 2.5s;
						}
						&--4 {
							transition-delay: 3.5s;
						}
					}
				}
			}
		}

		&--pros {
			.m-list-simple {
				&__bg {
					background-color: #e3f7ee;
				}

				&__title {
					color: $g-heading-dark;
				}

				&__list-item-inner {
					border: 1px solid $g-brand-color-7;
					@include bp-md {
						&--1 {
							transition-delay: 1s;
						}
						&--2 {
							transition-delay: 2s;
						}
						&--3 {
							transition-delay: 3s;
						}
						&--4 {
							transition-delay: 4s;
						}
					}
				}
			}
		}
	}
}


//////////////////////////////////////////
// Block Alignment Versions             //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has multiple alignments
 * "align-default" is required and the starting point
 * Both "align-center" and "align-left" are required to style
 * ------------------------------------------------------------
 */

.o-i360-comparison-table.o-dbm--align-center,
.o-i360-comparison-table.o-dbm--align-default {
	.o-i360-comparison-table {
		&__title-wrapper,
		&__title,
		&__content {

		}

		&__button-wrapper {

		}
	}
}

.o-i360-comparison-table.o-dbm--align-left {
	.o-i360-comparison-table {
		&__title-wrapper,
		&__title,
		&__content {

		}

		&__button-wrapper {

		}
	}
}

//////////////////////////////////////////
// Block Color Palette Versions         //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has multiple color palettes
 * "color-default" is required and the starting point
 * Both "color-dark" and "color-light" are required to style
 * Additional project color palettes might be present
 * and are required to style
 * ------------------------------------------------------------
 */
.o-i360-comparison-table.o-dbm--color-default,
.o-i360-comparison-table.o-dbm--color-dark {
	.o-i360-comparison-table {
		&__pretitle,
		&__subheader,
		&__title {
			color: $g-heading-dark;
		}

		&__content {
			color: $g-body-dark;
		}
	}
}

.o-i360-comparison-table.o-dbm--color-light {
	.o-i360-comparison-table {
		&__pretitle,
		&__title,
		&__subheader,
		&__content {
			color: $g-body-light;
		}
	}
}


//////////////////////////////////////////
// Block Other Versions                 //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has versions beside
 * the color and alignment use cases above
 * ------------------------------------------------------------
 */
