.m-list {
	&__card {
		padding: 20px;
		border-radius: 30px;
		visibility: hidden;
		@include zoomIn();
	}

	&__card-title {
		text-align: center;
		visibility: hidden;
		font-weight: 500;
	}

	&__card-list {
		list-style-type: none;
	}

	&__card-list-item {
		position: relative;
		margin-left: 0;
		margin-bottom: 10px;
		padding: 15px 15px 15px 60px;
		border-radius: 10px;
		background-color: #fff;
		visibility: hidden;
		@include flipInX();

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__card-list-icon {
		@include absolute-general($top: 50%, $left: 15px);
		transform: translateY(-50%);
		width: 31px;
		height: 31px;
		border-radius: 50%;
		visibility: hidden;
		@include fadeIn();

		svg {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	&__card-list-txt {
		display: inline-block;
		visibility: hidden;
		@include fadeInRight();
	}
}
