//////////////////////////////////////////////////
//                                              //
//  Organism: i360 Cards Repeater                //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Component Variables        //
////////////////////////////////



////////////////////
// Styling        //
////////////////////

// Each object class listed below probably has it's own SCSS file.
// Please contact the dev manager for help to decide if the SCSS of an object itself needs to be overwritten or extended here.
// If needed, additional CSS properties can be given to the objects in this block by adding classes below.

.o-i360-cards-simple {

	&__repeater {
	}

	&__card {
		visibility: hidden;
		// Remove this after reading!
		// changing below because in card we have modals, if one of modals parent elems have transform prop it disturb position: fixed for modals(position fixed modals becoming relative to a parent with a transform property)
		@include fadeInUp;
	}
}
