//////////////////////////////////////////////////
//                                              //
//  Organism: i360 Cards Simple                  //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Component Variables        //
////////////////////////////////

////////////////////////////////
// Block Base Styling         //
////////////////////////////////
.o-i360-cards-simple {
	&__pretitle,
	&__title {
		padding-bottom: 30px;
	}

	&__title {
		span {
			color: $g-brand-color-7;
		}
	}

	&__subheader-wrapper {
		max-width: 780px;
		margin: 0 auto 30px;
		@include bp-md {
			margin: 0 auto 45px;
		}
	}

	&__subheader {
		padding-bottom: 0;
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: -0.2px;
	}

	&__content {
		font-size: 20px;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.25px;
		@include bp-md {
			font-size: 24px;
			line-height: 32px;
			letter-spacing: -0.21px;
		}
	}
}


//////////////////////////////////////////
// Block Alignment Versions             //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has multiple alignments
 * "align-default" is required and the starting point
 * Both "align-center" and "align-left" are required to style
 * ------------------------------------------------------------
 */

.o-i360-cards-simple.o-dbm--align-center,
.o-i360-cards-simple.o-dbm--align-default {
	.o-i360-cards-simple {
		&__title-wrapper,
		&__title,
		&__content {

		}

		&__pretitle,
		&__subheader {
			text-align: center;
		}

		&__button-wrapper {

		}
	}
}

.o-i360-cards-simple.o-dbm--align-left {
	.o-i360-cards-simple {
		&__title-wrapper,
		&__title,
		&__content {

		}

		&__button-wrapper {

		}
	}
}

// Organism Other Versions Alignment
.o-i360-cards-simple--transparent {
	&.o-dbm--align-center,
	&.o-dbm--align-default {
		.o-i360-cards-simple {
			&__card {
				text-align: center;
			}
		}
	}

	&.o-dbm--align-left {
		.o-i360-cards-simple {
			.o-i360-cards-simple {
				&__card {
					text-align: left;
				}
			}
		}
	}
}

.o-i360-cards-simple--alt {
	&.o-dbm--align-center {
		.o-i360-cards-simple {
			&__card {
				text-align: center;
			}
		}
	}

	&.o-dbm--align-left,
	&.o-dbm--align-default {
		.o-i360-cards-simple {
			.o-i360-cards-simple {
				&__card {
					text-align: left;
				}
			}
		}
	}
}

//////////////////////////////////////////
// Block Color Palette Versions         //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has multiple color palettes
 * "color-default" is required and the starting point
 * Both "color-dark" and "color-light" are required to style
 * Additional project color palettes might be present
 * and are required to style
 * ------------------------------------------------------------
 */
.o-i360-cards-simple.o-dbm--color-default,
.o-i360-cards-simple.o-dbm--color-dark {
	.o-i360-cards-simple {
		&__pretitle {
			color: $g-pretitle-dark;
		}

		&__title {
			color: $g-heading-dark;
		}

		&__content {
			color: $g-body-dark;
		}
	}
}

.o-i360-cards-simple.o-dbm--color-light {
	.o-i360-cards-simple {
		&__pretitle {
			color: $g-pretitle-light;
		}

		&__subheader {
			color: $g-brand-color-5;
		}

		&__title,
		&__content {
			color: $g-body-light;
		}
	}
}


//////////////////////////////////////////
// Block Other Versions                 //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has versions beside
 * the color and alignment use cases above
 * ------------------------------------------------------------
 */

.o-i360-cards-simple--default {
	.o-i360-cards-simple {
		padding: 70px 0;

		&__repeater {
			padding-top: 70px;
			@include flex-outlining-card-1-by-3(20px, '.m-card');
			justify-content: center;
			@include bp-md {
				padding-top: 50px;
			}
		}

		&__card {
			visibility: hidden;
			@include fadeInUp;
		}
	}
}

.o-i360-cards-simple--transparent {
	.o-i360-cards-simple {
		&__title {
			span {
				color: $g-brand-color-3;
			}
		}

		&__subheader-wrapper {
			margin: 0 auto 55px;
		}

		&__repeater {
			@include flex-outlining-card-1-by-4(20px, '.m-card-transparent');
			justify-content: flex-start;
			padding-top: 0;
		}

		&__card {
			visibility: hidden;
			@include fadeInUp;
		}
	}
}

.o-i360-cards-simple--alt {
	.o-i360-cards-simple {
		&__container {
			@include bp-lg {
				width: 100%;
				max-width: 1010px;
			}
		}

		&__repeater {
			@include flex-outlining-card-1-by-2(0px, '.m-card-simple-alt');
			padding-top: 0;
			justify-content: flex-start;
		}

		&__card {
			visibility: hidden;
			@include fadeIn;
		}

		&__bg-deco {
			@include absolute-general($top: 0, $bottom: 0, $left: -41px);
			width: 110vw;
			height: 110vw;
			margin: auto;
			opacity: 0;
			transform: scale(.9);
			transition: $g-trans-base-5;
			transition-delay: .5s;
			@include bp-sm {
				width: 1000px;
				height: 1000px;
			}
			@include bp-lg {
				width: 1403px;
				height: 1403px;
			}

			&.animated {
				transform: scale(1);
				opacity: 1;
			}

			svg {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
}
