{% spaceless %}
	{#######################################################}
	{# --------------------------------------------------- #}
	{# Extending one of the Base Block Layout Types        #}
	{# 													   #}
	{# The block wrapper, title, content, button		   #}
	{# and container are declared inside the 		       #}
	{# base block layout          						   #}
	{# --------------------------------------------------- #}
	{#######################################################}
	{% extends '03-organisms/base/base-block/base-block.twig' %}

	{########################################################}
	{# Block general settings                               #}
	{########################################################}
	{% set component_class = "o-i360-cards-simple" %}
	{% set container       = true %}

	{#################################################################################}
	{# ----------------------------------------------------------------------------- #}
	{# CUSTOM DEV: Add custom block specific stuff here by                           #}
	{# overwriting {% block %}'s defined in the chosen Base Block Layout Type above  #}
	{# ----------------------------------------------------------------------------- #}
	{#################################################################################}
	{% block before_container %}
		{% if section.version == "alt" and section.add_bg_deco %}
			<div class="{{ component_class }}__bg-deco wow">
				<svg viewBox="0 0 1403 1403" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<defs>
						<polygon id="path-1" points="0 0 1403 0 1403 1403 0 1403"></polygon>
					</defs>
					<g id="Success-Stories" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.07">
						<g id="CaseStudy" transform="translate(41.000000, -2679.000000)">
							<g id="Group-18" transform="translate(0.000000, 3196.000000)">
								<g transform="translate(-41.000000, -517.000000)">
									<path d="M944.236807,524.784678 C931.318072,506.051472 905.669907,501.343771 886.951509,514.272726 C868.231198,527.201681 863.52913,552.870134 876.447865,571.605254 C876.8456,572.181278 877.258633,572.747733 877.68505,573.302706 C890.60761,591.404391 900.633207,611.412121 907.398524,632.604431 C945.342051,746.291587 884.012477,869.239136 770.415183,907.212678 C656.815977,945.186221 533.967522,883.808131 496.023995,770.119062 C458.078556,656.431905 519.410042,533.484357 633.007336,495.510814 C642.333072,492.393397 651.859588,489.915156 661.521869,488.0914 C672.977782,485.863854 684.605791,484.642914 696.273956,484.440061 C719.019421,483.959723 737.068554,465.117436 736.588595,442.355892 C736.108636,419.592435 717.281243,401.529023 694.53769,402.009362 C678.266891,402.38062 662.053457,404.066589 646.056101,407.051961 C632.410734,409.669902 618.945113,413.154749 605.743374,417.487365 C448.865639,470.690129 364.786776,641.095516 417.947487,798.097351 C471.108198,955.097271 641.378891,1039.24265 798.256626,986.039881 C955.134361,932.837117 1039.21322,762.43173 986.052513,605.429896 C976.283149,576.580873 962.182682,549.387201 944.236807,524.784678" id="Fill-1" fill="#FFFFFF"></path>
									<path d="M819,421 C842.748613,421 862,440.251832 862,464.000994 C862,487.748168 842.748613,507 819,507 C795.251387,507 776,487.748168 776,464.000994 C776,440.251832 795.251387,421 819,421" id="Fill-3" fill="#FFFFFF"></path>
									<path d="M1136.39707,665.646919 C1134.32084,642.79348 1114.12236,625.949442 1091.28387,628.027027 C1068.44537,630.106538 1051.61235,650.316303 1053.68858,673.171668 C1069.87122,866.729843 926.182461,1036.76837 732.748928,1052.95967 C586.699163,1065.18642 448.398208,985.441031 385.732331,852.866437 C303.808922,676.780004 380.048203,467.575435 556.02142,385.596496 C688.878773,323.704091 846.169796,350.797422 950.698871,453.581097 C954.885961,457.799809 959.965886,461.026901 965.5615,463.029393 C987.006865,471.029734 1010.87289,460.120004 1018.86992,438.660607 C1024.60985,423.251046 1020.70947,405.90446 1008.92559,394.440193 C879.485637,266.48866 684.068238,232.827541 519.324735,310.104475 C414.957293,358.643725 334.221123,446.799581 294.982552,555.065078 C255.72089,663.488464 261.129856,783.081519 310.020284,887.511473 C358.527794,991.947204 446.626007,1072.7362 554.82071,1112.00045 C663.173199,1151.2878 782.688053,1145.87529 887.049722,1096.95288 C1052.4109,1019.82228 1152.01206,847.540579 1136.39707,665.646919" id="Fill-5" fill="#FFFFFF"></path>
									<path d="M1055,491 C1078.74861,491 1098,510.251832 1098,534.000994 C1098,557.748168 1078.74861,577 1055,577 C1031.25139,577 1012,557.748168 1012,534.000994 C1012,510.251832 1031.25139,491 1055,491" id="Fill-7" fill="#FFFFFF"></path>
									<path d="M1154.48108,360.075639 C1140.13556,342.294541 1114.08963,339.509643 1096.30564,353.852831 C1079.22662,367.629437 1075.87652,392.342052 1088.67185,410.165403 C1137.45394,474.596435 1169.37407,550.186268 1181.53742,630.074447 C1221.77712,894.418951 1040.07033,1141.32807 775.68468,1181.56121 C649.051034,1200.83271 519.941306,1169.15209 416.618178,1093.4547 C200.978115,935.307026 154.391655,632.319652 312.565095,416.714717 C388.624426,313.039661 502.806586,243.872381 629.93007,224.464518 C709.535442,212.287788 790.921519,220.022124 866.806044,246.979943 C873.287271,249.309655 880.235284,250.029888 887.056516,249.073419 C909.694708,245.343575 925.023751,223.968998 921.291379,201.332573 C918.865241,186.612943 908.728479,174.322897 894.736405,169.139144 C732.49443,111.136427 552.687445,129.948898 405.970448,220.275646 C139.268152,384.321543 56.0706361,733.476775 220.143261,1000.1337 C339.777028,1194.56765 564.384005,1298.28304 790.001392,1263.27398 C1099.49823,1215.10868 1311.34445,925.206486 1263.1713,615.758148 C1248.70667,522.838563 1211.35606,434.974049 1154.48108,360.075639" id="Fill-9" fill="#FFFFFF"></path>
									<path d="M1015,236 C1038.74861,236 1058,255.251832 1058,279.000994 C1058,302.748168 1038.74861,322 1015,322 C991.251387,322 972,302.748168 972,279.000994 C972,255.251832 991.251387,236 1015,236" id="Fill-11" fill="#FFFFFF"></path>
									<g id="Group-15">
										<mask id="mask-2" fill="white">
											<use xlink:href="#path-1"></use>
										</mask>
										<g id="Clip-14"></g>
										<path d="M1369.46574,487.258113 C1361.74814,465.742318 1338.04957,454.557794 1316.53406,462.275499 C1296.02746,469.631918 1284.73355,491.628149 1290.70815,512.578953 C1394.6056,838.113941 1214.93691,1186.23705 889.408241,1290.1359 C563.87765,1394.03475 215.759238,1214.36363 111.861794,888.830568 C102.737498,860.242771 95.7059477,831.030409 90.8209518,801.422168 C35.5582348,464.306778 264.042291,146.220453 601.15505,90.9569894 C682.947022,77.5490128 766.601136,80.7160395 847.145916,100.271661 C957.871208,126.966545 1059.04751,183.780852 1139.47698,264.426651 C1144.80397,269.934356 1151.58762,273.810505 1159.03618,275.603488 C1173.09928,278.889662 1187.86573,274.736783 1198.15266,264.601529 C1214.29698,248.441621 1214.29698,222.25792 1198.15266,206.099934 C924.55446,-68.2033993 480.396491,-68.7722342 206.096862,204.831586 C-68.2027675,478.433485 -68.7715947,922.597454 204.828531,1196.90079 C478.426734,1471.20412 922.584704,1471.77103 1196.88433,1198.16914 C1383.20023,1012.32732 1449.83372,737.841416 1369.46574,487.258113" id="Fill-13" fill="#FFFFFF" mask="url(#mask-2)"></path>
									</g>
									<path d="M1267,312 C1290.74861,312 1310,331.251832 1310,355.000994 C1310,378.748168 1290.74861,398 1267,398 C1243.25139,398 1224,378.748168 1224,355.000994 C1224,331.251832 1243.25139,312 1267,312" id="Fill-16" fill="#FFFFFF"></path>
								</g>
							</g>
						</g>
					</g>
				</svg>
			</div>
		{% endif %}
	{% endblock %}

	{% block main_payload %}
		<div class="{{ component_class }}__repeater {{ brand_color_accent }}">

			{% for item in section.repeater %}

				{# Used for the cards that have an icon on top (design: Homepage. "People at the Center" section)) #}
				{% if section.version == "default" %}

					{% set icon_svg = item.icon_svg %}
					{% include '02-molecules/cards/card-icon-content/card-icon-content.twig' with {
						parent_class 		: component_class,
						item         		: item,
						icon_svg            : icon_svg,
						interval            : true,
						index       		: loop.index,
						add_class_on_anim   : true,
					} only %}

                {# Used for the cards that have a vertical line between them (design: Reference based pricing) #}
				{% elseif section.version == "alt" %}

					{# Accessing WordPress image object and making them available to Twig templates #}
					{% set img = TimberImage( item.thumbnail ) %}
					{% include '02-molecules/cards/card-simple-alt/card-simple-alt.twig' with {
						parent_class 		: component_class,
						item         		: item,
						brand_color_accent  : section.brand_color_accent,
						version             : item.add_video ? 'contains-modal',
						img                 : img,
						interval            : true,
						index       		: loop.index,
						add_class_on_anim   : true,
					} only %}

				{# Used for the cards that are transparent and have a border (design: your health plan) #}
				{% elseif section.version == "transparent" %}

					{% include '02-molecules/cards/card-transparent/card-transparent.twig' with {
						parent_class 		: component_class,
						item         		: item,
						icon_svg            : icon_svg,
						interval            : true,
						index       		: loop.index,
						add_class_on_anim   : true,
					} only %}

				{# Used for the cards that have an image and colored buttons (design: Members - Find a provider section)) #}
				{% elseif section.version == "provider" %}
					USE CARD PROVIDER

				{# Used for the cards that have an image and colored buttons (design: Members Login)) #}
				{% elseif section.version == "members" %}
					USE CARD MEMBER
				{% endif %}
			{% endfor %}
		</div>
	{% endblock %}

{% endspaceless %}
