{% spaceless %}
	{#######################################################}
	{# --------------------------------------------------- #}
	{# Extending one of the Base Block Layout Types        #}
	{# 													   #}
	{# The block wrapper, title, content, button		   #}
	{# and container are declared inside the 		       #}
	{# base block layout          						   #}
	{# --------------------------------------------------- #}
	{#######################################################}
	{% extends '03-organisms/base/base-block/base-block.twig' %}

	{########################################################}
	{# Block general settings                               #}
	{########################################################}
	{% set component_class = "o-i360-cards-simple" %}
	{% set container       = true %}

	{#################################################################################}
	{# ----------------------------------------------------------------------------- #}
	{# CUSTOM DEV: Add custom block specific stuff here by                           #}
	{# overwriting {% block %}'s defined in the chosen Base Block Layout Type above  #}
	{# ----------------------------------------------------------------------------- #}
	{#################################################################################}
	{% block main_payload %}
		<div class="{{ component_class }}__repeater">

			{# Dependent on the block version, we're outputting different types of cards.
				Both options mostly have visual differences #}
			{% for item in section.repeater %}
				{% set icon_svg = item.icon_svg %}
				{% set icon_image = TimberImage( item.image ) %}

				{% include '02-molecules/cards/card-icon-content/card-icon-content.twig' with {
					parent_class 		: component_class,
					item         		: item,
					icon_svg            : icon_svg,
					icon_image          : icon_image,
					interval            : true,
					index       		: loop.index,
					add_class_on_anim   : true,
				} only %}

			{% endfor %}
		</div>

		{#		{% if section.show_more and section.repeater | length > 6 %}#}
		{#			<div class="{{ component_class }}__show-more-btn-wrapper">#}
		{#				<button class="{{ component_class }}__show-more-btn">Show More</button>#}
		{#			</div>#}
		{#		{% endif %}#}


	{% endblock %}

{% endspaceless %}
