//////////////////////////////////////////////////
//                                              //
//  Organism: Pills
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Organism Variables         //
////////////////////////////////



////////////////////////////////
// Organism Base Styling      //
////////////////////////////////

// Each object class listed below probably has it's own SCSS file.
// Please contact the dev manager for help to decide if the SCSS of an object itself needs to be overwritten or extended here.
// If needed, additional CSS properties can be given to the objects in this block by adding properties to the classes below.

.o-i360-pills-two-columns {
	&__container {
		display: flex;
		flex-wrap: wrap;
		@include bp-lg {
			flex-wrap: nowrap;
		}
	}

	&__column {
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: 100%;

		&--1 {
			@include bp-lg {
				flex-basis: 42%;
				padding-right: 11px;
			}
			@include bp-xl {
				padding-right: 22px;
			}
		}

		&--2 {
			@include bp-lg {
				flex-basis: 58%;
			}
			@include bp-xl {
				padding-right: 5%;
			}
		}
	}

	&__pretitle-wrapper {
		margin-bottom: 15px;
	}

	&__pretitle {
		font-weight: 600;
	}

	.o-dbm__title,
	.o-dbm__content {
		max-width: 100%;
	}

	&__title {
		span {
			color: $g-brand-color-1;
		}
	}

	&__list-alt {
		display: flex;
		flex-wrap: wrap;
		@include bp-sm {
			margin-left: -22px;
		}
		@include bp-lg {
			margin-top: 0;
		}

		li {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 100%;
			@include bp-sm {
				flex-basis: calc(50% - 22px);
				margin-left: 22px;
			}
		}
	}
}


/////////////////////////////
// Organism Versions       //
/////////////////////////////

// This organism is most likely inheriting styles from the default-organism.scss file.
// If needed, the look & feel of organism versions can be modified below.

//////////////////////////////////////////
// Organism Background Versions         //
//////////////////////////////////////////
/**
* Covers scenario(s) where this organism has a custom background for it's default state.
* If so, target ".m-background-set"
* ------------------------------------------------------------
*/
.o-i360-pills-two-columns {
	&.o-dbm--bg-color {
		.m-background-set {
			background-color: $g-body-light;
		}
	}
}

//////////////////////////////////////////
// Organism Versions -- Alignments      //
//////////////////////////////////////////

// Covers scenario(s) where this organism has multiple alignments ..
// "align-default" is the starting point and is required to style

// Covers scenario(s) where this organism has multiple alignments .. "align-default" is the starting point
.o-i360-pills-two-columns.o-dbm--align-center {
	.o-i360-pills-two-columns {
		&__pretitle,
		&__title-wrapper,
		&__title,
		&__content {
			text-align: center;
		}

		&__button-wrapper {
			justify-content: center;
		}
	}
}

.o-i360-pills-two-columns.o-dbm--align-left,
.o-i360-pills-two-columns.o-dbm--align-default {
	.o-i360-pills-two-columns {
		&__pretitle-wrapper {
			&.o-dbm__pretitle-wrapper {
				margin: 0 auto 15px;
			}
		}

		&__pretitle,
		&__title-wrapper,
		&__title,
		&__content {
			text-align: left;
		}

		&__button-wrapper {
			justify-content: flex-start;
		}
	}
}


/////////////////////////////////////////////
// Organism Color Palette Versions         //
/////////////////////////////////////////////
/**
 * Covers scenario(s) where this organism has multiple color palettes
 * "color-default" is required and the starting point
 * Both "color-dark" and "color-light" are required to style
 * Additional project color palettes might be present
 * and are required to style
 * ------------------------------------------------------------
 */
.o-i360-pills-two-columns.o-dbm--color-default,
.o-i360-pills-two-columns.o-dbm--color-dark {
    .o-i360-pills-two-columns {
		&__pretitle {
			color: $g-pretitle-dark;
		}

		&__title {
			color: $g-heading-dark;
		}

		&__content {
			color: $g-body-dark;
		}
	}
}

.o-i360-pills-two-columns.o-dbm--color-light {
	.o-i360-pills-two-columns {
		&__pretitle {
			color: $g-pretitle-light;
		}

		&__title,
		&__content {
			color: $g-body-light;
		}
	}
}


//////////////////////////////////////////
// Organism Other Versions                 //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this organism has versions beside
 * the color and alignment use cases above
 * ------------------------------------------------------------
 */

