//////////////////////////////////////////////////
//                                              //
//  Atom: Card Icon Content	                    //
//                                              //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

////////////////////
// Styling        //
////////////////////

.m-card-icon-content {
	padding: 30px 15px;
	background-color: #fff;
	border: 1px solid $g-grey-color-2;
	border-radius: 10px;
	@include bp-md {
		padding: 40px 25px;
	}

	&__icon {
		width: 80px;
		height: 80px;
		margin: 0 auto 30px;
		@include bpm-xs {
			width: 50px;
			height: 50px;
		}

		svg {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	&__icon-content {
		@include bp-xs {
			font-size: 16px;
			letter-spacing: -0.36px;
		}
	}

	&__title,
	&__content {
		text-align: center;
	}

	&__content {
		font-size: 14px;
		line-height: 1.6;

		span {
			font-weight: 600;
			color: $g-brand-color-4;
		}

		@include wysiwyg-content-styling;
	}
}
