//////////////////////////////////////////////////
//                                              //
//  Molecule: Card Icon Content                 //
//                                              //
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

////////////////////
// Styling        //
////////////////////

.m-card-icon-content {
	background-color: #fff;
	border: 1px solid $g-grey-color-2;
	border-radius: 10px;

	&__icon {
		svg {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&__icon-content {
		@include bp-xs {
			font-size: 16px;
			letter-spacing: -0.36px;
		}
	}

	&__content {
		font-size: 14px;
		line-height: 1.6;

		span {
			font-weight: 600;
			color: $g-brand-color-4;
		}

		@include wysiwyg-content-styling;
	}
}

/////////////////////////////
// Molecule Versions       //
/////////////////////////////

.m-card-icon-content--default {
	padding: 30px 15px;
	@include bp-md {
		padding: 40px 25px;
	}

	.m-card-icon-content {
		&__img-wrapper,
		&__icon {
			width: 50px;
			height: 50px;
			margin: 0 auto 30px;
			@include bp-xs {
				width: 80px;
				height: 80px;
			}
		}

		&__title,
		&__content {
			text-align: center;
		}
	}
}

.m-card-icon-content--horizontal {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	@include bp-xs {
		flex-wrap: nowrap;
	}
	@include bp-md {
		padding: 30px;
	}

	.m-card-icon-content {
		&__img-wrapper,
		&__icon {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 100px;
			height: 100px;
			margin: 0 auto 10px;
			@include bp-xs {
				margin: 0;
			}
		}

		&__title {
			padding-bottom: 10px;
			@include bp-lg {
				font-size: 24px;
			}
		}

		&__text-wrapper {
			flex-basis: 100%;
			text-align: center;
			@include bp-xs {
				flex-basis: auto;
				padding-left: 25px;
				text-align: left;
			}
		}
	}
}
