//////////////////////////////////////////////////
//                                              //
//  Organism: i360 Badges                       //
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Component Variables        //
////////////////////////////////

////////////////////////////////
// Block Base Styling         //
////////////////////////////////
.o-i360-badges {
	&__repeater {
		@include flex-outlining-card-1-by-5(30px, '.o-i360-badges__card');
		justify-content: center;
		align-items: center;
		padding-top: 30px;
	}

	&__card {
		visibility: hidden;
		@include fadeInUp;
	}

	//////////////////////////////////////////
	// Block Alignment Versions             //
	//////////////////////////////////////////
	/**
	 * Covers scenario(s) where this block has multiple alignments
	 * "align-default" is required and the starting point
	 * Both "align-center" and "align-left" are required to style
	 * ------------------------------------------------------------
	 */

	&.o-dbm--align-center,
	&.o-dbm--align-default {
		.o-i360-badges {
			&__title-wrapper,
			&__title,
			&__content {

			}

			&__button-wrapper {

			}
		}
	}

	&.o-dbm--align-left {
		.o-i360-badges {
			&__title-wrapper,
			&__title,
			&__content {

			}

			&__button-wrapper {

			}
		}
	}

	//////////////////////////////////////////
	// Block Color Palette Versions         //
	//////////////////////////////////////////
	/**
	 * Covers scenario(s) where this block has multiple color palettes
	 * "color-default" is required and the starting point
	 * Both "color-dark" and "color-light" are required to style
	 * Additional project color palettes might be present
	 * and are required to style
	 * ------------------------------------------------------------
	 */
	&.o-dbm--color-default,
	&.o-dbm--color-dark {
		.o-i360-badges {
			&__title {
				color: $g-heading-dark;
			}

			&__content {
				color: $g-body-dark;
			}
		}
	}

	&.o-dbm--color-light {
		.o-i360-badges {
			&__title,
			&__content {
				color: $g-body-light;
			}
		}
	}


	//////////////////////////////////////////
	// Organism Title Versions              //
	//////////////////////////////////////////
	/**
	 * Covers scenario(s) where this organism has a custom block title for it's default state.
	 * If so, target ".o-dbm__title.a-title--style-default". This should NOT apply to additional titles in this block.
	 * ------------------------------------------------------------
	 */
	.o-dbm__title.a-title--style-default {

	}


	//////////////////////////////////////////
	// Organism Background Versions         //
	//////////////////////////////////////////
	/**
	* Covers scenario(s) where this organism has a custom background for it's default state.
	* If so, target ".m-background-set"
	* ------------------------------------------------------------
	*/
	&.o-dbm--bg-default {
		.m-background-set {
			background-color: $g-body-light;
		}
	}


	//////////////////////////////////////////
	// Organism Other Versions                 //
	//////////////////////////////////////////
	/**
	 * Covers scenario(s) where this organism has versions beside
	 * the color and alignment use cases above
	 * ------------------------------------------------------------
	 */

}
