//////////////////////////////////////////////////
//                                              //
//  Organism: Default Badges                    //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Component Variables        //
////////////////////////////////

////////////////////////////////
// Block Base Styling         //
////////////////////////////////
.o-i360-badges {
	&__title-wrapper,
	&__title,
	&__content {

	}

	&__repeater {
		padding-top: 40px;
		@include outlining-card-1-by-6;
	}

	&__card {
		visibility: hidden;
		@include fadeInUp;
	}

	&__button-wrapper {

	}



	//////////////////////////////////////////
	// Block Alignment Versions             //
	//////////////////////////////////////////
	/**
	 * Covers scenario(s) where this block has multiple alignments
	 * "align-default" is required and the starting point
	 * Both "align-center" and "align-left" are required to style
	 * ------------------------------------------------------------
	 */

	&.o-dbm--align-center,
	&.o-dbm--align-default {
		.o-i360-badges {
			&__title-wrapper,
			&__title,
			&__content {

			}

			&__button-wrapper {

			}
		}
	}

	&.o-dbm--align-left {
		.o-i360-badges {
			&__title-wrapper,
			&__title,
			&__content {

			}

			&__button-wrapper {

			}
		}
	}

	//////////////////////////////////////////
	// Block Color Palette Versions         //
	//////////////////////////////////////////
	/**
	 * Covers scenario(s) where this block has multiple color palettes
	 * "color-default" is required and the starting point
	 * Both "color-dark" and "color-light" are required to style
	 * Additional project color palettes might be present
	 * and are required to style
	 * ------------------------------------------------------------
	 */
	&.o-dbm--color-default,
	&.o-dbm--color-dark {
		.o-i360-badges {
			&__title {
				color: $g-heading-dark;
			}

			&__content {
				color: $g-body-dark;
			}
		}
	}

	&.o-dbm--color-light {
		.o-i360-badges {
			&__title,
			&__content {
				color: $g-body-light;
			}
		}
	}


	//////////////////////////////////////////
	// Block Other Versions                 //
	//////////////////////////////////////////
	/**
	 * Covers scenario(s) where this block has versions beside
	 * the color and alignment use cases above
	 * ------------------------------------------------------------
	 */

}
