{% spaceless %}
	{#######################################################}
	{# --------------------------------------------------- #}
	{# Extending one of the Base Block Layout Types        #}
	{# 													   #}
	{# The block wrapper, title, content, button		   #}
	{# and container are declared inside the 		       #}
	{# base block layout          						   #}
	{# --------------------------------------------------- #}
	{#######################################################}
	{% extends '03-organisms/base/base-block/base-block.twig' %}

	{########################################################}
	{# Block general settings                               #}
	{########################################################}
	{% set component_class = "o-360-badges" %}
	{% set container       = true %}

	{#################################################################################}
	{# ----------------------------------------------------------------------------- #}
	{# CUSTOM DEV: Add custom block specific stuff here by                           #}
	{# overwriting {% block %}'s defined in the chosen Base Block Layout Type above  #}
	{# ----------------------------------------------------------------------------- #}
	{#################################################################################}
	{% block main_payload %}

		{# Using a ACF relationship field here #}
		{% if section.relationship %}
			<div class="{{ component_class }}__repeater">

				{% for item in section.relationship %}

					{# Accessing WordPress post and making them available to Twig templates #}
					{% set item = TimberPost( item ) %}

					{# Keeping the TimberImage outside of the component below to ensure the card can be used in other places #}

					{# Accessing WordPress image object and making them available to Twig templates #}
					{% set img = TimberImage( item.thumbnail ) %}

					{% include '02-molecules/cards/card-image-static/card-image-static.twig' with {
						parent_class 		: component_class,
						img                 : img,
						item         		: item,
						interval            : true,
						index       		: loop.index,
						add_class_on_anim   : true,
					} only %}

				{% endfor %}

			</div>
		{% endif %}

	{% endblock %}
{% endspaceless %}
