//////////////////////////////////////////////////
//                                              //
//  Organism: Alternative Image Text
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Organism Variables         //
////////////////////////////////



////////////////////////////////
// Organism Base Styling      //
////////////////////////////////

// Each object class listed below probably has it's own SCSS file.
// Please contact the dev manager for help to decide if the SCSS of an object itself needs to be overwritten or extended here.
// If needed, additional CSS properties can be given to the objects in this block by adding properties to the classes below.

.o-i360-alternative-image-text {
	&__container {
		max-width: 1010px;
	}

	&__content-wrapper {
		display: flex;
		@include bp-sm {
			align-items: flex-start;
		}
		@include bpm-sm {
			flex-direction: column-reverse;
		}

		.o-dbm__button-wrapper {
			margin: 0;
		}
	}

	&__group-text {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 100%;
		@include bp-sm {
			flex-basis: auto;
		}
	}

	&__title {
		font-size: 20px;
		font-weight: 600;
		letter-spacing: normal;
		line-height: 1.4;

		span {
			color: $g-brand-color-1;
		}

		&.o-dbm__title.a-title--small {
			max-width: 100%;
		}
	}

	&__group-img {
		display: flex;
		align-items: center;
		max-width: 240px;
		margin: 0 auto 30px;
		@include bp-sm {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 240px;
			margin: 0;
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__button-wrapper {
		display: flex;
		margin-top: 30px;
	}
}


/////////////////////////////
// Organism Versions       //
/////////////////////////////

// This organism is most likely inheriting styles from the default-organism.scss file.
// If needed, the look & feel of organism versions can be modified below.


//////////////////////////////////////////
// Organism Versions -- Alignments      //
//////////////////////////////////////////

// Covers scenario(s) where this organism has multiple alignments ..
// "align-default" is the starting point and is required to style

// Covers scenario(s) where this organism has multiple alignments .. "align-default" is the starting point
.o-i360-alternative-image-text {
	&.o-dbm--align-default,
	&.o-dbm--align-left {
		.o-i360-alternative-image-text {
			&__title {
				text-align: left;
			}

			&__content {
				text-align: left;
			}

			&__button-wrapper {
				justify-content: flex-start;
			}
		}
	}

	&.o-dbm--align-center {
		.o-i360-alternative-image-text {
			&__title {
				text-align: center;
			}

			&__content {
				text-align: center;
			}

			&__button-wrapper {
				justify-content: center;
			}
		}
	}
}


/////////////////////////////////////////////
// Organism Color Palette Versions         //
/////////////////////////////////////////////
/**
 * Covers scenario(s) where this organism has multiple color palettes
 * "color-default" is required and the starting point
 * Both "color-dark" and "color-light" are required to style
 * Additional project color palettes might be present
 * and are required to style
 * ------------------------------------------------------------
 */
.o-i360-alternative-image-text {
	&.o-dbm--color-default,
	&.o-dbm--color-dark {
		.o-i360-alternative-image-text {
			&__title {
				color: $g-heading-dark;
			}

			&__content {
				color: $g-body-dark;
			}
		}
	}

	&.o-dbm--color-light {
		.o-i360-alternative-image-text {
			&__title {
				color: $g-heading-light;
			}

			&__content {
				color: $g-body-light;
			}
		}
	}
}


//////////////////////////////////////////
// Organism Other Versions              //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this organism has versions beside
 * the color and alignment use cases above
 * ------------------------------------------------------------
 */

.o-i360-alternative-image-text {
	// Version that have an image on the left.
	&--img-left {
		.o-i360-alternative-image-text {
			&__content-wrapper {
				@include bp-sm {
					flex-direction: row-reverse;
				}
			}

			&__group-text {
				@include bp-sm {
					padding-left: 35px;
				}
				@include bp-md {
					padding-left: 60px;
				}
			}
		}
	}

	// Version that have an image on the right.
	&--img-right {
		.o-i360-alternative-image-text {
			&__content-wrapper {
				@include bp-sm {
					flex-direction: row;
				}
			}

			&__group-text {
				@include bp-sm {
					padding-right: 35px;
				}
				@include bp-sm {
					padding-right: 60px;
				}
			}
		}
	}
}
