//////////////////////////////////////////////////
//                                              //
//  Atom: Logo
//                                              //
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Atom Variables           //
//////////////////////////////



////////////////////
// Styling        //
////////////////////

.a-logo {
	transition: $g-trans-base;

	// Enables hardware driven animation for a smoother animations. More info: https://www.sitepoint.com/introduction-to-hardware-acceleration-css-animations/
	will-change: transform;

	&:hover {
		.a-logo__img {
			opacity: .8;
		}
	}

	&__img {
		transition: $g-trans-base;
	}

	&__link {
		display: block;
		line-height: 0;
	}

	path {
		transition: $g-trans-base;
	}

	&__src {
		width: 100%;
	}

	&--footer-mob {
		margin-bottom: 20px;
		@include bp-md {
			display: none;
		}
	}
}


/////////////////////////////
// Atom Versions           //
/////////////////////////////

// Used to create additional versions of this atom.

.a-logo {
	&--default {

	}
}
