//////////////////////////////////////////////////////////////////////
//// Hero Types                                                     //
////                                                                //
//// Each hero type has it's own alignment + text color options     //
//////////////////////////////////////////////////////////////////////
//
//// Client specific hero type. Each hero type has it's own alignment + text color options
.o-i360-hero--i360-regular {
	position: relative;
	overflow: hidden;
	.o-i360-hero {
		&__bg-color,
		&__gradient {
			@include absolute-tr;
			width: 100%;
			height: 100%;
		}

		&__img-wrapper {
			@include absolute-tr;
			width: 100%;
			height: 100%;
		}

		&__img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&__info-wrapper {
			max-width: 630px;
			padding: 140px 0;
		}

		&__title {
			letter-spacing: -0.81px;

			span, strong, bold {
				line-height: normal;
				letter-spacing: normal;
				color: $g-brand-color-1;
			}

			@include fadeInLeft(
				$duration: 1s,
				$count: 1,
				$delay: 0.2s,
				$function: ease,
				$fill: both
			);
		}

		&__subtitle {
			@include last-element-no-bm;
			max-width: 540px;

			@include fadeInLeft(
				$duration: 1s,
				$count: 1,
				$delay: 0.4s,
				$function: ease,
				$fill: both
			);
		}

		&__button-wrapper {
			padding-top: 40px;

			@include fadeInLeft(
				$duration: 1s,
				$count: 1,
				$delay: 0.6s,
				$function: ease,
				$fill: both
			);
		}
	}
}

//////////////////////////////////////////
// Hero Versions -- Alignments          //
//////////////////////////////////////////
.o-i360-hero--i360-regular {
	&.o-i360-hero--align-left,
	&.o-i360-hero--align-default {
		.o-i360-hero {
			&__pretitle,
			&__title-wrapper,
			&__subtitle {
				margin-left: 0;
			}

			&__pretitle,
			&__title,
			&__subtitle,
			&__content {
				text-align: left;
			}

			&__button-wrapper {
				justify-content: flex-start;
			}
		}
	}

	&.o-i360-hero--align-center {
		.o-i360-hero {
			&__info-wrapper {
				margin: 0 auto;
			}

			&__pretitle,
			&__title,
			&__subtitle,
			&__content {
				text-align: center;
			}

			&__button-wrapper {
				justify-content: center;
			}
		}
	}
}

//////////////////////////////////////////
// Hero Color Palette Versions          //
//////////////////////////////////////////
.o-i360-hero--i360-regular {
	&.o-i360-hero--color-default,
	&.o-i360-hero--color-dark {
		.o-i360-hero {
			&__title {
				color: $g-heading-dark;
			}

			&__pretitle,
			&__subtitle,
			&__content {
				color: $g-body-dark;
			}
		}
	}

	&.o-i360-hero--color-light {
		.o-i360-hero {
			&__pretitle,
			&__title,
			&__subtitle,
			&__content {
				color: $g-body-light;
			}
		}
	}
}
