//////////////////////////////////////////////////
//                                              //
//  Organism: Footer  		                    //
//                                              //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

////////////////////
// Styling        //
////////////////////

.o-footer {
	position: relative;
	background-color: #eee;
	padding-top: 50px;

	&__logo-wrapper {
		max-width: 150px;
		margin: 0 auto 40px auto;
	}

	&__socials-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__icon {
		display: block;

		&:hover {
			opacity: .8;
		}
	}

	&__columns-wrapper {
		display: flex;
		margin-left: -60px;
		padding: 60px 0;
		@include bpm-xl {
			margin-left: -30px;
		}
		@include bpm-md {
			flex-wrap: wrap;
			padding: 0 0 60px;
		}
		@include bpm-sm {
			margin-left: -20px;
		}
		@include bpm-xs {
			margin-left: 0;
		}
	}

	&__column {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: calc(25% - 60px);
		margin-left: 60px;
		@include bpm-xl {
			flex-basis: calc(25% - 30px);
			margin-left: 30px;
		}
		@include bpm-md {
			flex-basis: calc(50% - 30px);
			margin-top: 60px;
		}
		@include bpm-sm {
			flex-basis: calc(50% - 20px);
			margin-left: 20px;
		}
		@include bpm-xs {
			flex-basis: 100%;
			margin-left: 0;
		}
	}

	&__column-title {
		padding-bottom: 25px;
		@include bpm-md {
			padding-bottom: 20px;
		}
		@include bpm-xs {
			text-align: center;
		}
	}

	//&__locations-wrapper {
	//	list-style-type: none;
	//	display: flex;
	//	flex-wrap: wrap;
	//}
	//
	//&__locations-item {
	//	flex-grow: 0;
	//	flex-shrink: 1;
	//	flex-basis: 100%;
	//	margin-bottom: 15px;
	//	margin-left: 0;
	//	padding-right: 70px;
	//	padding-left: 0;
	//	color: $g-body-dark;
	//	@include bpm-xl {
	//		padding-right: 35px;
	//	}
	//}
	//
	//&__locations-item-link {
	//	position: relative;
	//	display: inline-block;
	//
	//	&::after {
	//		content: '';
	//		@include absolute-general($bottom: 0, $left: 0);
	//		width: 100%;
	//		height: 1px;
	//		background-color: #000;
	//		transition: $g-trans-base;
	//	}
	//
	//	&:hover {
	//		color: $g-body-dark;
	//
	//		&::after {
	//			width: 0;
	//		}
	//	}
	//}

	//&__locations-item,
	//&__locations-item-link {
	//	text-transform: uppercase;
	//	font-family: $g-font-alt;
	//	font-size: 10px;
	//	letter-spacing: normal;
	//	color: $g-body-dark;
	//}
	//
	//&__newslatter-content-wrapper {
	//	font-size: 20px;
	//	letter-spacing: -0.31px;
	//	color: $g-body-dark;
	//	@include bpm-md {
	//		font-size: 18px;
	//	}
	//	@include bpm-xs {
	//		text-align: center;
	//	}
	//
	//	*:last-child {
	//		margin-bottom: 0;
	//	}
	//
	//	h1, h2, h3, h4, h5, h6 {
	//		padding-bottom: 15px;
	//		color: $g-body-dark;
	//	}
	//
	//	p {
	//		margin: 0 0 15px 0;
	//	}
	//
	//	a {
	//		color: $g-body-dark;
	//		transition: $g-trans-base;
	//
	//		&:hover {
	//			color: $g-brand-color-1;
	//		}
	//	}
	//}
	//
	//&__form-wrapper {
	//	position: relative;
	//}
	//
	//.a-icon {
	//	display: block;
	//	height: 100%;
	//
	//	&__img-wrapper {
	//		height: 100%;
	//	}
	//
	//	&__img {
	//		display: block;
	//		width: 100%;
	//		height: 100%;
	//		object-fit: contain;
	//	}
	//}

	&__nav {
		&.m-nav--footer {
			.m-nav__item-0 {
				@include bp-md {
					display: none;
				}
			}
		}
	}

	.o-footer-bar {
		padding: 35px 0;
		border-top: 1px solid $g-brand-color-1;
		@include bpm-md {
			padding: 25px 0;
		}

		&__container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include bpm-md {
				flex-wrap: wrap;
			}
		}

		&__list {
			list-style-type: none;
			display: flex;
			justify-content: center;
			@include bpm-md {
				flex-wrap: wrap;
				flex: 0 0 100%;
			}

			li {
				position: relative;
				margin: 0;
				padding: 0 20px;
				@include bpm-md {
					border-right: none;
				}
				@include bpm-xs {
					flex-basis: 100%;
					text-align: center;
					margin-bottom: 15px;
					padding: 0;
				}

				&:first-of-type {
					padding-left: 0;
				}

				&:last-of-type {
					padding-right: 0;
					border-right: 0;
				}
			}
		}

		&__link,
		&__copy {
			line-height: 1.17;
			letter-spacing: 0.06px;
			color: $g-body-dark;
		}

		&__link {
			display: block;
			font-size: 15px;
			font-weight: 600;
			letter-spacing: -0.31px;
			line-height: 1;
			color: $g-body-dark;
			transition: $g-trans-base;
			@include bpm-md {
				font-weight: 300;
				letter-spacing: -0.24px;
			}

			&:hover {
				color: $g-brand-color-1;
				@include bpm-md {
					opacity: 1;
				}
			}
		}

		&__copy {
			font-family: $g-heading-font-family;
			font-size: 14px;
			@include bpm-md {
				flex: 0 0 100%;
				margin-top: 20px;
				text-align: center;
			}
		}

		&__copy-symbol {
			font-family: $g-font-alt;
			font-weight: 500;
			letter-spacing: normal;
			line-height: normal;
		}
	}
}
