//////////////////////////////////////////////////
//                                              //
//  Molecule: Social Links Share                //
//                                              //
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

$l-social-share-size: 40px;

////////////////////
// Styling        //
////////////////////

.m-social-share {
	display: flex;

	&__links-wrapper {
		display: flex;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: $l-social-share-size;
		height: $l-social-share-size;
		margin-right: 3px;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			svg path {
				fill: $g-brand-color-1;
			}
		}

		svg {
			height: 20px;

			path {
				fill: #999999;
				transition: $g-trans-base;
			}
		}
	}
}

////////////////////
// Versions       //
////////////////////

.m-social-share {
	&--vertical {

	}
}
