//////////////////////////////////////////////////
//                                              //
//  Organism: How It Works
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Organism Variables         //
////////////////////////////////



////////////////////////////////
// Organism Base Styling      //
////////////////////////////////

// Each object class listed below probably has it's own SCSS file.
// Please contact the dev manager for help to decide if the SCSS of an object itself needs to be overwritten or extended here.
// If needed, additional CSS properties can be given to the objects in this block by adding properties to the classes below.

.o-i360-how-it-works {
	&__pretitle {
		margin-bottom: 20px;
		font-weight: 600;
	}

	&__content-box {
		text-align: center;
	}

	&__repeater-outer-wrapper {
		position: relative;
	}

	&__line {
		@include absolute-general($top: 0, $right: 0, $left: 0);
		width: 1px;
		height: 100%;
		margin: 0 auto;
		background-color: $g-brand-color-7;
		z-index: $g-z1;
		visibility: hidden;
		@include zoomIn($delay: .8s);
		@include bp-sm {
			top: 40px;
			width: 80%;
			height: 1px;
		}
	}

	&__repeater {
		display: flex;
		flex-direction: column;
		@include bp-sm {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__item {
		position: relative;
		display: flex;
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: 60%;
		margin: 60px auto 0;
		padding: 0 35%;
		z-index: $g-z10;
		@include bp-sm {
			flex-direction: column;
			justify-content: flex-start;
			flex-basis: 240px;
			margin: 0 auto;
			padding: 0 15px;
		}

		&.animated {
			.o-i360-how-it-works {
				&__step-number {
					opacity: 1;
					transform: scale(1);
				}

				&__content {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}

		&:first-child {
			@include bpm-sm {
				margin-top: 0;
			}

			.o-i360-how-it-works {
				&__step-number {
					background-color: #7dd6b0;
				}

				&__content {
					@include bpm-sm {
						top: 20px;
					}
				}
			}
		}

		&:last-child {
			.o-i360-how-it-works__content {
				@include bpm-sm {
					bottom: 20px;
				}
			}
		}

		&:not(:first-child):not(:last-child) {
			.o-i360-how-it-works__content {
				@include bpm-sm {
					top: 20px;
				}
			}
		}

		&:nth-child(odd) {
			.o-i360-how-it-works__content {
				@include bpm-sm {
					right: 0;
					text-align: left!important;
				}
			}
		}

		&:nth-child(even) {
			.o-i360-how-it-works__content {
				@include bpm-sm {
					left: 0;
					text-align: right!important;
				}
			}
		}

		&:nth-child(2) {
			.o-i360-how-it-works__step-number {
				background-color: #6ad1a5;
			}
		}

		&:nth-child(3) {
			.o-i360-how-it-works__step-number {
				background-color: #58cb99;
			}
		}

		&:nth-child(4) {
			.o-i360-how-it-works__step-number {
				background-color: $g-brand-color-7;
			}
		}

		.o-i360-how-it-works__content {
			font-size: 10px;
			line-height: 18px;
			opacity: 0;
			transform: translateY(7px);
			transition: all .6s ease .6s;
			@include bp-xxs {
				font-size: 12px;
				line-height: 22px;
			}
			@include bp-sm {
				text-align: center;
			}
			@include bp-md {
				font-size: 14px;
			}
			@include bpm-sm {
				position: absolute;
				width: 35%;
				z-index: $g-z20;
			}
		}
	}

	&__step-number {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 60px;
		margin: 0 auto;
		background-color: $g-brand-color-7;
		border-width: 15px;
		border-style: solid;
		border-radius: 50%;
		font-weight: 600;
		line-height: 1;
		opacity: 0;
		transform: scale(.7);
		transition: transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity .6s ease-in;
		color: $g-body-light;
		z-index: $g-z20;
		@include bp-xxs {
			width: 80px;
			height: 80px;
			border-width: 20px;
			font-size: 20px;
		}
	}
}


/////////////////////////////
// Organism Versions       //
/////////////////////////////

// This organism is most likely inheriting styles from the default-organism.scss file.
// If needed, the look & feel of organism versions can be modified below.


//////////////////////////////////////////
// Organism Versions -- Alignments      //
//////////////////////////////////////////

// Covers scenario(s) where this organism has multiple alignments ..
// "align-default" is the starting point and is required to style

// Covers scenario(s) where this organism has multiple alignments .. "align-default" is the starting point
.o-i360-how-it-works.o-dbm--align-center,
.o-i360-how-it-works.o-dbm--align-default {
	.o-i360-how-it-works {
		&__pretitle,
		&__title-wrapper,
		&__title,
		&__content {
			text-align: center;
		}

		&__button-wrapper {
			justify-content: center;
		}
	}
}

.o-i360-how-it-works.o-dbm--align-left {
	.o-i360-how-it-works {
		&__pretitle {
			margin-bottom: 20px;
		}

		&__pretitle,
		&__title-wrapper,
		&__title,
		&__content {
			text-align: left;
		}

		&__button-wrapper {
			justify-content: left;
		}
	}
}


/////////////////////////////////////////////
// Organism Color Palette Versions         //
/////////////////////////////////////////////
/**
 * Covers scenario(s) where this organism has multiple color palettes
 * "color-default" is required and the starting point
 * Both "color-dark" and "color-light" are required to style
 * Additional project color palettes might be present
 * and are required to style
 * ------------------------------------------------------------
 */
.o-i360-how-it-works.o-dbm--color-default,
.o-i360-how-it-works.o-dbm--color-dark {
    .o-i360-how-it-works {
		&__title {
			color: $g-heading-dark;
		}

		&__content {
			color: $g-body-dark;
		}

		&__content-box {
			&.a-content {
				h1,h2,h3,h4,h5,h6 {
					color: $g-heading-dark;
				}
			}
		}

		&__step-number {
			border-color: $g-body-light;
		}
	}
}

.o-i360-how-it-works.o-dbm--color-light {
	.o-i360-how-it-works {
		&__pretitle,
		&__title,
		&__content {
			color: $g-body-light;
		}

		&__content-box {
			&.a-content {
				h1,h2,h3,h4,h5,h6 {
					color: $g-body-light;
				}
			}
		}

		&__step-number {
			border-color: #000;
		}
	}
}


//////////////////////////////////////////
// Organism Other Versions                 //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this organism has versions beside
 * the color and alignment use cases above
 * ------------------------------------------------------------
 */
.o-i360-how-it-works {
	// for vertical pills
	&--vertical-pills {
		.o-i360-how-it-works {
			&__content.o-dbm__content {
				max-width: 780px;
			}

			&__title {
				span {
					color: $g-brand-color-1;
				}
			}

			&__list-alt {
				max-width: 780px;
				margin: 35px auto 0;
				text-align: center;
			}

			&__content-box {
				margin-top: 45px;

				&.a-content {
					h1,h2,h3,h4,h5,h6 {
						max-width: 560px;
						margin: 0 auto;

						span {
							color: $g-brand-color-1;
						}
					}
				}
			}
		}
	}

	// For how it works
	&--default {
		.o-i360-how-it-works {
			&__title.o-dbm__title.a-title--default,
			&__content.o-dbm__content {
				max-width: 940px;
			}

			&__title {
				span {
					color: $g-brand-color-7;
				}
			}

			&__content-box {
				margin-top: 65px;

				&.a-content {
					h1,h2,h3,h4,h5,h6 {
						max-width: 780px;
						margin: 0 auto;

						span {
							color: $g-brand-color-7;
						}
					}
				}
			}
		}
	}
}
