//////////////////////////////////////////////////
//                                              //
//  Typography                                  //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

/**
 * Here we scope our Base Heading styles to classes instead of the `<hx>`
 * element selector so our styles are not tied to the semantics of the heading
 * element, i.e. if you want a `<h4>` to look like a `<h2>` you can easily do
 * this.
 */

// Headings
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $g-heading-font-family;
	font-style: normal;
	line-height: $g-heading-line-height;
	font-weight: $g-heading-font-weight;
	color: $g-heading-dark;
	padding-bottom: $g-heading-padding-bottom;
}

h1, .h1 {
	@include h1;
	//line-height: 44px;
	letter-spacing: -0.62px;
	@include bp-md {
		//line-height: 60px;
		letter-spacing: -0.81px;
	}
}

h2, .h2 {
	@include h2;
	//line-height: 48px;
}

h3, .h3 {
	@include h3;
	//line-height: 48px;
}

h4, .h4 {
	@include h4;
	//line-height: 32px;
}

h5, .h5 {
	@include h5;
	//line-height: 28px;
}

h6, .h6 {
	@include h6;
	//line-height: 18px;
}
