//////////////////////////////////////////////////
//                                              //
//  Organism: Case Studies
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Organism Variables         //
////////////////////////////////



////////////////////////////////
// Organism Base Styling      //
////////////////////////////////

// Each object class listed below probably has it's own SCSS file.
// Please contact the dev manager for help to decide if the SCSS of an object itself needs to be overwritten or extended here.
// If needed, additional CSS properties can be given to the objects in this block by adding properties to the classes below.

.o-i360-case-studies {
	&__container {
		max-width: 1010px;
	}

	&__repeater {
		display: flex;
		flex-wrap: wrap;
		@include bp-sm {
			margin-left: -20px;
		}
	}

	&__column {
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: 100%;
		margin-bottom: 20px;
		@include bp-sm {
			flex-basis: calc(50% - 20px);
			margin-left: 20px;
		}
		@include bpm-sm {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}


/////////////////////////////
// Organism Versions       //
/////////////////////////////

// This organism is most likely inheriting styles from the default-organism.scss file.
// If needed, the look & feel of organism versions can be modified below.


//////////////////////////////////////////
// Organism Versions -- Alignments      //
//////////////////////////////////////////

