//////////////////////////////////////////////////
//                                              //
// Button Mixin Module		                    //
//                                              //
// https://www.dreamersofday.co                  //
//                                              //
//////////////////////////////////////////////////
//////////////////////////////
// Default variables        //
//////////////////////////////



////////////////////
// Styling        //
////////////////////

@mixin btn {
	position: relative;
	display: inline-flex;
	overflow: hidden;
	font-size: 18px;
	border-radius: 25px;
	border: 0;
	transition: $g-trans-base;
	font-family: $g-heading-font-family;
	font-weight: 600;
	text-transform: capitalize;
	line-height: 1;
	letter-spacing: normal;
	visibility: visible;
}

@mixin btn-closed {

}

@mixin btn-open {

}

@mixin btn-small {

}

@mixin btn-primary {
	background-color: $g-brand-color-1;
	color: $g-body-light;

	&:hover {
		background-color: rgba($g-brand-color-1, .7);
		color: $g-body-light;
	}

	svg path {
		fill: $g-body-light;
	}
}

@mixin btn-secondary {
	background-color: $g-brand-color-3;
	color: $g-brand-color-4;

	&:hover {
		background-color: rgba($g-brand-color-3, .7);
		color: $g-brand-color-4;
	}

	svg path {
		fill: $g-brand-color-4;
	}
}

@mixin btn-tertiary {

}

@mixin btn-open-primary {
	@include btn-open;
}

@mixin btn-open-secondary {
	@include btn-open;
}

@mixin btn-open-tertiary {
	@include btn-open;
}

@mixin btn-arrow {

}

@mixin btn-arrow-primary {

}

@mixin btn-arrow-tertiary {

}

@mixin btn-special {

}
