@mixin outlining-card-1-by-6 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	> .m-card {
		width: 100%;
		margin-bottom: 20px;
		@include bp-sm {
			width: 32%;
			margin-bottom: 1%;
		}
		@include bp-md {
			width: 19%;
		}
		@include bpm-sm {
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
}

@mixin outlining-card-1-by-3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	> .m-card {
		width: 100%;
		margin-bottom: 20px;
		@include bp-sm {
			width: 49%;
			margin-bottom: 2%;
		}
		@include bp-md {
			width: 32%;
			margin-bottom: 2%;
		}
		@include bpm-sm {
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
}


@mixin outlining-card-1-by-2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	> .m-card {
		width: 100%;
		margin-bottom: 20px;
	}
	@include bp-sm {
		width: 49%;
		margin-bottom: 2%;
	}
	@include bpm-sm {
		&:last-child {
			margin-bottom: 0px;
		}
	}
}

@mixin flex-outlining-card-1-by-5($gap, $gridChildSelector) {
	display: flex;
	flex-wrap: wrap;
	@include bp-sm {
		margin-left: -$gap;
	}

	> #{$gridChildSelector} {
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: 100%;
		margin-bottom: $gap;
		@include bp-sm {
			flex-basis: calc(50% - #{$gap});
			margin-left: $gap;
		}
		@include bp-md {
			flex-basis: calc(33.33% - #{$gap});
		}
		@include bp-lg {
			flex-basis: calc(20% - #{$gap});
		}
		@include bpm-sm {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@mixin flex-outlining-card-1-by-4($gap, $gridChildSelector) {
	display: flex;
	flex-wrap: wrap;
	@include bp-sm {
		margin-left: -$gap;
	}

	> #{$gridChildSelector} {
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: 100%;
		margin-bottom: $gap;
		@include bp-sm {
			flex-basis: calc(50% - #{$gap});
			margin-left: $gap;
		}
		@include bp-md {
			flex-basis: calc(33.33% - #{$gap});
		}
		@include bp-lg {
			flex-basis: calc(25% - #{$gap});
		}
		@include bpm-sm {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@mixin flex-outlining-card-1-by-3($gap, $gridChildSelector) {
	display: flex;
	flex-wrap: wrap;
	@include bp-sm {
		margin-left: -$gap;
	}

	> #{$gridChildSelector} {
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: 100%;
		margin-bottom: $gap;
		@include bp-sm {
			flex-basis: calc(50% - #{$gap});
			margin-left: $gap;
		}
		@include bp-md {
			flex-basis: calc(33.33% - #{$gap});
		}
		@include bpm-sm {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@mixin flex-outlining-card-1-by-2($gap, $gridChildSelector) {
	display: flex;
	flex-wrap: wrap;
	@include bp-sm {
		margin-left: -$gap;
	}

	> #{$gridChildSelector} {
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: 100%;
		margin-bottom: $gap;
		@include bp-sm {
			flex-basis: calc(50% - #{$gap});
			margin-left: $gap;
		}
		@include bpm-sm {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
