//////////////////////
// Positioning      //
//////////////////////

// Absolute positioning
@mixin absolute-general($top: null, $right: null, $bottom: null, $left: null) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin absolute-full {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@mixin absolute-tr {
	position: absolute;
	top: 0;
	right: 0;
}

@mixin absolute-br {
	position: absolute;
	bottom: 0;
	right: 0;
}

@mixin absolute-tl {
	position: absolute;
	top: 0;
	left: 0;
}

@mixin absolute-bl {
	position: absolute;
	bottom: 0;
	left: 0;
}

@mixin absolute-center-aligner($horizontal: true, $vertical: true) {
	position: absolute;
	@if ($horizontal and $vertical) {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	} @else if ($horizontal) {
		left: 50%;
		transform: translate(-50%, 0);
	} @else if ($vertical) {
		top: 50%;
		transform: translate(0, -50%);
	}
}

// Fixed positions
@mixin fixed-full {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
