//////////////////////////
// Typography Mixins    //
//////////////////////////

@mixin h1 {
	font-size: 40px;
	@include bp-md {
		font-size: 52px;
	}
}

@mixin h2 {
	font-size: 42px;
}

@mixin h3 {
	font-size: 32px;
	@include bp-sm {
		font-size: 36px;
	}
}

@mixin h4 {
	font-size: 24px;
}

@mixin h5 {
	font-size: 20px;
}

@mixin h6 {
	font-size: 12px;
}

@mixin pretitle-1 {
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
