{% spaceless %}
	{# Hero background options #}
	{% include '03-organisms/base/base-hero/base-hero-elements/base-hero-bg/base-hero-bg.twig' %}

	{# Wrapper div that functions as container and "flexbox #}
	<div class="{{ component_class }}__container l-container">
		<div class="{{ component_class }}__container-inner">

			{# Choosing the hero title. Manually created titles have presendence over programmatically (WordPress) created titles. #}
			{% if post.get_field('hero_title') and post.hide_the_hero_title == false %}
				{% set title = post.get_field('hero_title')|replace({'<p>': "", '</p>': ""}) %}
			{% elseif post.title and post.hide_the_hero_title == false %}
				{% set title = post.title %}
			{% elseif category_page  %}
				{% set title = category_title %}
			{% else %}
				{% set title = false %}
			{% endif %}

			{% include '01-atoms/content/title/title.twig' with {
				parent_class : component_class,
				title        : title,
				h            : 1
			} only %}

			{% include '01-atoms/content/content/content.twig' with {
				parent_class : component_class,
				content      : post.get_field( 'hero_subtitle' )
			} only %}

			{% include '01-atoms/buttons/button-repeater/button-repeater.twig' with {
				parent_class : component_class,
				buttons      : post.get_field( 'hero_buttons' )
			} only %}
		</div>
	</div>
{% endspaceless %}
