{% spaceless %}
	{# Hero background options #}
	{% include '03-organisms/base/base-hero/base-hero-elements/base-hero-bg/base-hero-bg.twig' %}

	{# Wrapper div that functions as container and "flexbox #}
	<div class="{{ component_class }}__content {{ post.set_aside_image ? component_class ~ '__content--aside-image-' ~ post.aside_image_position }} l-container">
		<div class="{{ component_class }}__info-wrapper">

			{% if post.get_field('hero_title') and post.hide_the_hero_title == false %}
				{% set title = post.get_field('hero_title')|replace({'<p>': "", '</p>': ""}) %}
			{% elseif post.title and post.hide_the_hero_title == false %}
				{% set title = post.title %}
			{% elseif category_page  %}
				{% set title = category_title %}
			{% else %}
				{% set title = false %}
			{% endif %}

			{% if title %}
				{% include '01-atoms/content/title/title.twig' with {
					parent_class : component_class,
					title        : title,
					h            : 1
				} only %}
			{% endif %}

			{% if post.get_field( 'hero_subtitle' ) %}
				{% include '01-atoms/content/subtitle/subtitle.twig' with {
					subtitle     : post.get_field( 'hero_subtitle' ),
					parent_class : component_class
				} only %}
			{% endif %}

			{% if post.get_field( 'hero_buttons' ) %}
				{% include '01-atoms/buttons/button-repeater/button-repeater.twig' with {
					parent_class : component_class,
					buttons      : post.get_field( 'hero_buttons' )
				} only %}
			{% endif %}
		</div>

		{% if post.set_aside_image %}
			{# Accessing WordPress image object and making them available to Twig templates #}
			{% set aside_img = TimberImage( post.aside_image ) %}

			{% include '01-atoms/images/image-default/image-default.twig' with {
				parent_class      : component_class,
				img               : aside_img,
				version           : "hero-aside-img",
				lazyload          : true,
				srcset            : true,
				wrapper           : true,
				parallax          : false,
				add_class_on_anim : true
			} only %}
		{% endif %}
	</div>
{% endspaceless %}
