{% spaceless %}
	{% set component_class = "o-viewer-pages" %}
	{% set version         = version      ? component_class ~ "--" ~ version       | join("") %}

	<div class="{{ component_class }} {{ version }} flex">
		<div class="{{component_class}}__container flex w-full">
			{% if theme.logo %}

			{% else %}
				<div class="{{component_class}}__logo-wrapper items-center justify-self-end flex">
					Text here
				</div>
			{% endif %}
		</div>
	</div>
{% endspaceless %}
