.o-default-content-box {
	padding: 100px 0;

	&__container {
		max-width: 900px;
		margin: 0 auto;
	}

	&__featured-img-wrapper {
		margin-bottom: 30px;
		@include bpm-md {
			margin-bottom: 15px;
		}
	}

	&__featured-img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
