//////////////////////////////////////////////////
//                                              //
//  Organism: Text                              //
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Component Variables        //
////////////////////////////////

////////////////////////////////
// Block Base Styling         //
////////////////////////////////
.o-i360-text {

}


//////////////////////////////////////////
// Block Alignment Versions             //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has multiple alignments
 * "align-default" is required and the starting point
 * Both "align-center" and "align-left" are required to style
 * ------------------------------------------------------------
 */

.o-i360-text.o-dbm--align-center,
.o-i360-text.o-dbm--align-default {
	.o-i360-text {
		&__title-wrapper,
		&__title,
		&__content {

		}

		&__button-wrapper {

		}
	}
}

.o-i360-text.o-dbm--align-left {
	.o-i360-text {
		&__title-wrapper,
		&__title,
		&__content {

		}

		&__button-wrapper {

		}
	}
}

//////////////////////////////////////////
// Block Color Palette Versions         //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has multiple color palettes
 * "color-default" is required and the starting point
 * Both "color-dark" and "color-light" are required to style
 * Additional project color palettes might be present
 * and are required to style
 * ------------------------------------------------------------
 */
.o-i360-text.o-dbm--color-default,
.o-i360-text.o-dbm--color-dark {
	.o-i360-text {
		&__title {
			color: $g-heading-dark;
		}

		&__content {
			color: $g-body-dark;
		}
	}
}

.o-i360-text.o-dbm--color-light {
	.o-i360-text {
		&__title,
		&__content {
			color: $g-body-light;
		}
	}
}


//////////////////////////////////////////
// Block Other Versions                 //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has versions beside
 * the color and alignment use cases above
 * ------------------------------------------------------------
 */
.o-i360-text--alt-title-left {
	.o-i360-text {
		&__container {
			display: flex;
			max-width: 1210px!important; // remove after discuss!!!, overwrite inline style - max-width: 1310px;
			@include bpm-md {
				flex-wrap: wrap;
			}
		}

		&__column {
			flex-grow: 0;
			flex-basis: 100%;

			&--1 {
				flex-shrink: 0;
				margin: 0;
				@include bp-md {
					flex-basis: 300px;
					padding-right: 15px;
				}
			}

			&--2 {
				flex-shrink: 1;
				margin-left: 0;
				@include bp-md {
					flex-basis: 780px;
				}
			}
		}

		&__title-wrapper,
		&__title,
		&__content {
			max-width: 100%;
		}
	}
}

// o-i360-text--alt-title-left Block Color Palette Versions
.o-i360-text.o-i360-text--alt-title-left.o-dbm--color-default,
.o-i360-text.o-i360-text--alt-title-left.o-dbm--color-dark {
	.o-i360-text {
		&__title {
			color: $g-heading-dark;
		}

		&__content {
			color: $g-body-dark;
		}
	}
}

.o-i360-text.o-i360-text--alt-title-left.o-dbm--color-light {
	.o-i360-text {
		&__title,
		&__content {
			color: $g-body-light;
		}
	}
}

// o-i360-text--alt-title-left Block Alignment Versions
.o-i360-text.o-i360-text--alt-title-left.o-dbm--align-center {
	.o-i360-text {
		&__title,
		&__content {
			text-align: center;
		}

		&__button-wrapper {
			justify-content: center;
		}
	}
}

.o-i360-text.o-i360-text--alt-title-left.o-dbm--align-left,
.o-i360-text.o-i360-text--alt-title-left.o-dbm--align-default {
	.o-i360-text {
		&__title,
		&__content {
			text-align: left;
		}

		&__button-wrapper {
			justify-content: flex-start;
		}
	}
}
