//////////////////////////////////////////////////
//                                              //
//  Atom: Navigation Primary                    //
//                                              //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

////////////////////
// Styling        //
.m-nav--secondary {
	.m-nav {
		&__item {
			display: inline;
			list-style-type: none;
		}

		&__link {
			margin-left: 55px;
		}

		&__link-text {
			font-size: 18px;
			font-weight: 400;
			line-height: 28px;
			color: $g-body-dark;
			@include underline-special;
			@include underline-special-reverse;

			&::before {
				top: calc(100% - 4px);
				height: 1px;
				background-color: $g-body-dark;
			}
		}
	}
}

.m-nav--secondary-mobile {
	padding: 10px 25px;
	background-color: $g-brand-color-5;

	.m-nav {
		&__item {
			display: block;
			margin-left: 0;
			padding-left: 0;
		}

		&__link {
			display: block;
			padding: 16px 0;
			border-bottom: 1px solid $g-grey-color-2;
			font-size: 14px;
			font-weight: 500;
			line-height: 1;
			letter-spacing: normal;

			&:hover {
				color: $g-brand-color-1;
			}

			&.current_page_item {
				color: $g-brand-color-1;
			}
		}
	}
}
