//////////////////////////////////////////////////
//                                              //
//  Atom: Navigation Primary                    //
//                                              //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

////////////////////
// Styling        //
.m-nav--secondary {
	.m-nav {
		&__item {
			display: inline;
			list-style-type: none;
		}

		&__link {
			margin-left: 55px;
		}

		&__link-text {
			font-size: 18px;
			font-weight: 400;
			line-height: 28px;
			color: $g-body-dark;
			@include underline-special;
			@include underline-special-reverse;

			&::before {
				top: calc(100% - 4px);
				height: 1px;
				background-color: $g-body-dark;
			}
		}
	}
}
