{% spaceless %}
	{########################################################}
	{# Block general settings                               #}
	{########################################################}
	{% set component_class = "o-default-code-only" %}
	{% set container       = true %}

	{########################################################}
	{# Block specific settings                              #}
	{########################################################}


	{#################################################################################}
	{# ----------------------------------------------------------------------------- #}
	{# CUSTOM DEV: Add custom block specific stuff here by                           #}
	{# ----------------------------------------------------------------------------- #}
	{#################################################################################}
	{% if section.code_area %}
		<div class="{{ component_class }}">
			{# Custom code is outputted here. I hope you know what you are doing #}
			{{ section.code_area }}
		</div>
	{% endif %}
{% endspaceless %}
