//////////////////////////////////////////////////
//                                              //
//  Atom: Card Transparent	                    //
//                                              //
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

////////////////////
// Styling        //
////////////////////

.m-card-transparent {
	padding: 25px;
	background-color: $g-brand-color-4;
	border: 1px solid $g-brand-color-3;
	border-radius: 10px;

	&__title,
	&__content,
	&__link {
		color: $g-grey-color-light;
	}

	&__title {
		padding-bottom: 18px;
	}

	&__content {
		font-size: 14px;
		line-height: 1.6;
	}

	&__link-wrapper {
		padding-top: 25px;
	}

	&__link {
		position: relative;
		display: inline-block;
		font-weight: 500;
		font-size: 14px;
		@include underline-special-reverse;
		&:hover {
			color: $g-grey-color-light;
		}
	}
}
