//////////////////////////////////////////////////
//                                              //
//  Organism: Default Latest Posts Repeater     //
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Organism Variables         //
////////////////////////////////

/////////////////////////////
// Repeater Styling        //
/////////////////////////////

.o-i360-latest-posts {
	&__repeater {
		@include outlining-card-1-by-3;
		padding-top: 20px;
	}

	&__card {
		visibility: hidden;
		@include fadeInUp;
	}
}
