//////////////////////////////////////////////////
//                                              //
//  Organism: Default Text                      //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Component Variables        //
////////////////////////////////

////////////////////////////////
// Block Base Styling         //
////////////////////////////////

.o-i360-image-text {
	margin-top: 70px;

	&__container {
		max-width: 1210px;
		@include bpm-xs {
			width: 100%;
		}
	}

	&__content-wrapper {
		position: relative;
		overflow: hidden;
		background-color: $g-brand-color-5;
		border-radius: 30px;

		&--img-left {
			.o-i360-image-text {
				&__group-text {
					@include bp-sm {
						padding-left: 0;
						margin-left: auto;
					}
				}
				&__group-img {
					@include bp-sm {
						@include absolute-tl;
						padding-right: 0;
					}
				}
			}
		}

		&--img-right {
			.o-i360-image-text {
				&__group-text {
					@include bp-sm {
						padding-right: 0;
						margin-right: auto;
					}
				}
				&__group-img {
					@include bp-sm {
						@include absolute-tr;
						transform: scaleX(-1); // remove, just for show
						padding-left: 0;
					}
				}
			}
		}

		.o-dbm__button-wrapper {
			margin: 0;
		}
	}

	&__group-text {
		position: relative;
		z-index: $g-z1;
		@include bp-sm {
			width: 50%;
			padding: 50px 55px;
		}
		@include bpm-lg {
			padding: 50px 25px;
		}
		@include bpm-sm {
			width: 100%;
			padding: 40px 20px;
			text-align: center;
		}
	}

	&__title {
		letter-spacing: -0.43px;
		@include bpm-xs {
			line-height: 1.375;
		}

		span {
			color: #18b1a9;
		}
	}

	&__content {
		strong {
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: 28px;
			letter-spacing: normal;
			color: $g-heading-dark;
		}

		@include last-element-no-bm;
	}

	&__group-img {
		display: none;
		@include bp-sm {
			display: block;
			height: 100%;
		}
	}

	&__img-wrapper {
		position: relative;
		height: 100%;
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__button-wrapper {
		padding-top: 55px;
		@include bp-sm {
			padding-top: 35px;
		}
	}
}

//////////////////////////////////////////
// Block Alignment Versions             //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has multiple alignments
 * "align-default" is required and the starting point
 * Both "align-center" and "align-left" are required to style
 * ------------------------------------------------------------
 */

.o-i360-image-text.o-dbm--align-default,
.o-i360-image-text.o-dbm--align-left {
	.o-i360-image-text {
		&__title {
			@include bp-sm {
				text-align: left;
			}
		}

		&__content {
			@include bp-sm {
				text-align: left;
			}
		}

		&__button-wrapper {
			@include bp-sm {
				justify-content: flex-start;
			}
		}
	}
}

.o-i360-image-text.o-dbm--align-center {
	.o-i360-image-text {
		&__title {

		}

		&__content {

		}

		&__button-wrapper {

		}
	}
}



//////////////////////////////////////////
// Block Color Palette Versions         //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has multiple color palettes
 * "color-default" is required and the starting point
 * Both "color-dark" and "color-light" are required to style
 * Additional project color palettes might be present
 * and are required to style
 * ------------------------------------------------------------
 */

.o-i360-image-text.o-dbm.o-dbm--color-default,
.o-i360-image-text.o-dbm.o-dbm--color-dark {
	.o-i360-image-text {
		&__title {
			color: $g-brand-color-4;
		}

		&__content {
			color: $g-body-dark;
		}
	}
}

.o-i360-image-text.o-dbm.o-dbm--color-light {
	.o-i360-image-text {
		&__title {
			color: $g-heading-light;
		}

		&__content {
			color: $g-body-light;
		}
	}
}
