//////////////////////////////////////////////////
//                                              //
//  Organism: Default Text                      //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Component Variables        //
////////////////////////////////

////////////////////////////////
// Block Base Styling         //
////////////////////////////////

.o-i360-image-text {
	margin-top: 70px;

	&__container {
		max-width: 1210px;
	}

	&__content-wrapper {
		position: relative;
		display: flex;
		overflow: hidden;
		background-color: $g-brand-color-5;
		border-radius: 30px;
		@include bpm-sm {
			flex-direction: column-reverse;
		}

		&--img-left {
			@include bp-sm {
				flex-direction: row-reverse;
			}

			.o-i360-image-text {
				&__group-text {
					@include bp-sm {
						padding-left: 0;
					}
				}
				&__group-img {
					@include bp-sm {
						padding-right: 0;
					}
				}
			}
		}

		&--img-right {
			@include bp-sm {
				flex-direction: row;
			}

			.o-i360-image-text {
				&__group-text {
					@include bp-sm {
						padding-right: 0;
					}
				}
				&__group-img {
					@include bp-sm {
						padding-left: 0;
					}
				}
			}
		}

		.o-dbm__button-wrapper {
			margin: 0;
		}
	}

	&__group-text {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: $g-z1;
		@include bp-sm {
			width: 50%;
			padding: 50px 55px;
		}
		@include bpm-lg {
			padding: 50px 25px;
		}
		@include bpm-sm {
			width: 100%;
			padding: 20px;
		}
	}

	&__title {
		letter-spacing: -0.43px;

		span {
			color: #18b1a9;
		}
	}

	&__content {
		strong {
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: 28px;
			letter-spacing: normal;
			color: $g-heading-dark;
		}

		@include last-element-no-bm;
	}

	&__group-img {
		@include absolute-tl;
		height: 100%;
	}

	&__img-wrapper {
		position: relative;
		height: 100%;
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__button-wrapper {
		padding-top: 35px;
	}

	&__btn {
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: 28px;
		letter-spacing: normal;
		color: $g-brand-color-1;
		@include underline-special;
		@include underline-special-reverse;

		&::before {
			top: calc(100% - 3px);
			height: 1px;
			background-color: $g-brand-color-1;
		}

		&:hover {
			&::before {
				background-color: rgba($g-brand-color-1, .5);
			}
		}
	}
}

//////////////////////////////////////////
// Block Alignment Versions             //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has multiple alignments
 * "align-default" is required and the starting point
 * Both "align-center" and "align-left" are required to style
 * ------------------------------------------------------------
 */

.o-i360-image-text--align-default,
.o-i360-image-text--align-left {
	.o-i360-image-text {
		&__title {
			text-align: left;
		}

		&__content {
			text-align: left;
		}

		&__button-wrapper {
			justify-content: flex-start;
		}
	}
}

.o-i360-image-text--align-center {
	.o-i360-image-text {
		&__title {

		}

		&__content {

		}

		&__button-wrapper {

		}
	}
}



//////////////////////////////////////////
// Block Color Palette Versions         //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has multiple color palettes
 * "color-default" is required and the starting point
 * Both "color-dark" and "color-light" are required to style
 * Additional project color palettes might be present
 * and are required to style
 * ------------------------------------------------------------
 */

.o-i360-image-text--color-default,
.o-i360-image-text--color-dark {
	.o-i360-image-text {
		&__title {
			color: $g-brand-color-4;
		}

		&__content {
			color: $g-body-dark;
		}
	}
}

.o-i360-image-text--color-light {
	.o-i360-image-text {
		&__title {
			color: $g-heading-light;
		}

		&__content {
			color: $g-body-light;
		}
	}
}
