//////////////////////////////////////////////////
//                                              //
//  Organism: Horizontal Menu
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Organism Variables         //
////////////////////////////////



////////////////////////////////
// Organism Base Styling      //
////////////////////////////////

// Each object class listed below probably has it's own SCSS file.
// Please contact the dev manager for help to decide if the SCSS of an object itself needs to be overwritten or extended here.
// If needed, additional CSS properties can be given to the objects in this block by adding properties to the classes below.

.o-i360-horizontal-menu {
	background-color: #18B1A9;
	&__title-wrapper,
	&__title {
		color: $g-heading-light;
		padding-bottom: 0px;
		margin-bottom: 0px;
		font-size: 20px;
		line-height: 28px;
	}

	&__content {

	}

	&__column {
		&--1 {
			min-width: 427px;
			padding-right: 30px;
		}
		&--2 {
			width: 100%;
		}
	}

	&__button-wrapper {

	}



	/////////////////////////////
	// Organism Versions       //
	/////////////////////////////

	// This organism is most likely inheriting styles from the default-organism.scss file.
	// If needed, the look & feel of organism versions can be modified below.


	//////////////////////////////////////////
	// Organism Versions -- Alignments      //
	//////////////////////////////////////////

	// Covers scenario(s) where this organism has multiple alignments ..
	// "align-default" is the starting point and is required to style

	// Covers scenario(s) where this organism has multiple alignments .. "align-default" is the starting point
	&.o-dbm--align-center,
	&.o-dbm--align-default {
		.o-i360-horizontal-menu {
			&__title-wrapper,
			&__title,
			&__content {

			}

			&__button-wrapper {

			}
		}
	}

	&.o-dbm--align-left {
		.o-i360-horizontal-menu {
			&__title-wrapper,
			&__title,
			&__content {

			}

			&__button-wrapper {

			}
		}
	}


	/////////////////////////////////////////////
	// Organism Color Palette Versions         //
	/////////////////////////////////////////////
	/**
	 * Covers scenario(s) where this organism has multiple color palettes
	 * "color-default" is required and the starting point
	 * Both "color-dark" and "color-light" are required to style
	 * Additional project color palettes might be present
	 * and are required to style
	 * ------------------------------------------------------------
	 */
	&.o-dbm--color-default,
	&.o-dbm--color-dark {
		.o-i360-horizontal-menu {
			&__title {
				color: $g-heading-dark;
			}

			&__content {
				color: $g-body-dark;
			}
		}
	}

	&.o-dbm--color-light {
		.o-i360-horizontal-menu {
			&__title,
			&__content {
				color: $g-body-light;
			}
		}
	}

	//////////////////////////////////////////
	// Organism Title Versions              //
	//////////////////////////////////////////
	/**
	 * Covers scenario(s) where this organism has a custom block title for it's default state.
	 * If so, target ".o-dbm__title.a-title--type-default". This should NOT apply to additional titles in this block.
	 * ------------------------------------------------------------
	 */
	.o-dbm__title.a-title--type-default {

	}


	//////////////////////////////////////////
	// Organism Background Versions         //
	//////////////////////////////////////////
	/**
	* Covers scenario(s) where this organism has a custom background for it's default state.
	* If so, target ".m-background-set"
	* ------------------------------------------------------------
	*/
	&.o-dbm--bg-default {
		.m-background-set {

		}
	}


	//////////////////////////////////////////
	// Organism Other Versions                 //
	//////////////////////////////////////////
	/**
	 * Covers scenario(s) where this organism has versions beside
	 * the text color, background, title and alignment use cases above
	 * ------------------------------------------------------------
	 */

	 &--default {
	 	  .o-i360-horizontal-menu {

	 	  }
	 }
}
