//////////////////////////////////////////////////
//                                              //
//  Molecule: Modal
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Molecule Variables         //
////////////////////////////////



////////////////////
// Styling        //
////////////////////

// Each object class listed below probably has it's own SCSS file.
// Please contact the dev manager for help to decide if the SCSS of an object itself needs to be overwritten or extended here.
// If needed, additional CSS properties can be given to the objects in this block by adding properties to the classes below.

.m-modal {
	position: relative;
	z-index: $g-zmax;

	&__outer-wrapper {
		display: none;

		&.is-open {
			display: block;
			z-index: $g-z500;
		}

		&[aria-hidden="false"] .m-modal__overlay {
			animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
		}

		&[aria-hidden="false"] .m-modal__dialog {
			animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
		}

		&[aria-hidden="true"] .m-modal__overlay {
			animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
		}

		&[aria-hidden="true"] .m-modal__dialog {
			animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
		}

		.m-modal__dialog,
		.m-modal__overlay {
			will-change: transform;
		}
	}

	&__overlay {
		@include fixed-full;
		background: rgba(0, 0, 0, .6);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__dialog {
		max-width: 500px;
		max-height: 100vh;
		padding: 30px;
		box-sizing: border-box;
		overflow: visible;
		@include bp-md {
			min-width: 500px;
		}
	}

	&__button-wrapper {
		text-align: center;
	}

	&__link--video {
		@include absolute-full;
		display: block;
		overflow: hidden;
		z-index: $g-z10;

		&:hover {
			cursor: pointer;
			.m-modal {
				&__img {
					transform: scale(1.1);
				}

				&__play-icon {
					transform: translate(-50%, -50%) scale(1.15);
				}
			}
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transform: scale(1);
		transition: all .8s cubic-bezier(.215,.61,.355,1);
	}

	&__play-icon {
		@include absolute-general($top: 50%, $left: 50%);
		transform: translate(-50%, -50%);
		display: block;
		width: 110px;
		height: 110px;
		transition: $g-trans-base;

		svg {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	@keyframes mmfadeIn {
		from { opacity: 0; }
		to { opacity: 1; }
	}

	@keyframes mmfadeOut {
		from { opacity: 1; }
		to { opacity: 0; }
	}

	@keyframes mmslideIn {
		from { transform: translateY(15%); }
		to { transform: translateY(0); }
	}

	@keyframes mmslideOut {
		from { transform: translateY(0); }
		to { transform: translateY(-10%); }
	}
}


/////////////////////////////
// Molecule Versions       //
/////////////////////////////

// Used to create additional versions of this molecule.

.m-modal {
	&--default {

	}

	&--video {
		.m-modal {
			&__overlay {
				overflow: auto;
				padding: 44px;
			}

			&__dialog {
				position: relative;
				min-width: 95%;
				padding-top: 53.4%;
				margin-top: 44px;
				@include bp-md {
					min-width: 54%;
					padding-top: 30.32%;
				}
			}

			&__btn-close {
				@include absolute-general($top: -12px, $left: 100%);
				width: 44px;
				height: 44px;
				@include bp-xs {
					width: 54px;
					height: 54px;
				}

				svg {
					display: block;
					width: 100%;
					height: 100%;
					pointer-events: none;

					path {
						fill: #fff;
					}
				}
			}
		}

		.a-video--full {
			overflow: hidden;
			border-radius: 10px;
		}
	}
}
