//////////////////////////////////////////////////
//                                              //
//  Atom: Title 				                //
//                                              //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

////////////////////
// Styling        //
////////////////////
.a-title {
	position: relative;
	display: block;

	////////////////////////////////////
	// Versions - Spacing Bottom      //
	////////////////////////////////////
	&--bottom {
		&-none {
			padding-bottom: 0;
			margin-bottom: 0;
		}

		&-xs {
			@include space-bottom-xs;
		}

		&-sm {
			@include space-bottom-sm;
		}

		&-md,
		&-default {
			@include space-bottom-md;
		}

		&-lg {
			@include space-bottom-lg;
		}

		&-xl {
			@include space-bottom-xl;
		}
	}

	//////////////////////////////////
	// Versions - Title Types       //
	//////////////////////////////////
	&--style {
		&-h1 {
			@include h1;
		}

		&-h2 {
			@include h3;
		}

		&-h3 {
			@include h4;
		}

		&-h4 {
			@include h4;
		}

		&-h5 {
			@include h5;
		}

		&-h6 {
			@include h6;
		}


		&-default {

		}

		&-pretitle,
		&-pretitle-1 {
			@include pretitle-1;
		}

		&-pretitle-2 {

		}
	}

	//////////////////////////////////
	// Versions - Title Widths      //
	//////////////////////////////////
	&.a-title--small {
		max-width: 620px;
	}

	&.a-title--default {
		max-width: 720px;
	}

	&.a-title--wide {
		max-width: 800px;
	}
}
