//////////////////////////////////////////////////
//                                              //
//  Atom: Title 				                //
//                                              //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

////////////////////
// Styling        //
////////////////////
.a-title {
	position: relative;
	display: block;
}

////////////////////
// Versions       //
////////////////////
.a-title--bottom {
	&-none {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	&-xs {
		@include space-bottom-xs;
	}

	&-sm {
		@include space-bottom-sm;
	}

	&-md,
	&-default {
		@include space-bottom-md;
	}

	&-lg {
		@include space-bottom-lg;
	}

	&-xl {
		@include space-bottom-xl;
	}
}
