//////////////////////////////////////////////////
//                                              //
//  Organism: Default Image Group Repeater      //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Component Variables        //
////////////////////////////////



////////////////////
// Styling        //
////////////////////

// Each object class listed below probably has it's own SCSS file.
// Please contact the dev manager for help to decide if the SCSS of an object itself needs to be overwritten or extended here.
// If needed, additional CSS properties can be given to the objects in this block by adding classes below.

.o-i360-image-group {
	&__repeater {
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		padding-top: 40px;
		@include bpm-sm {
			margin-left: -10px;
		}
	}

	&__item {
		flex-grow: 0;
		flex-shrink: 1;
		margin-bottom: 15px;
		margin-left: 15px;

		visibility: hidden;
		@include fadeInUp;

		&-width {
			&--50 {
				flex-basis: calc(50% - 15px);
				margin-left: 15px;
				@include bpm-sm {
					flex-basis: calc(50% - 10px);
					margin-bottom: 10px;
					margin-left: 10px;
				}
				@include bpm-xs {
					flex-basis: calc(100% - 10px);
				}
			}

			&--100 {
				flex-basis: calc(100% - 15px);
				@include bpm-sm {
					flex-basis: calc(100% - 10px);
					margin-bottom: 10px;
					margin-left: 10px;
				}
			}
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
