//////////////////////////////////////////////////
//                                              //
//  Default Jobs                                //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Component Variables        //
////////////////////////////////

////////////////////////////////
// Block Base Styling         //
////////////////////////////////
.o-default-jobs {

}


//////////////////////////////////////////
// Block Alignment Versions             //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has multiple alignments
 * "align-default" is required and the starting point
 * Both "align-center" and "align-left" are required to style
 * ------------------------------------------------------------
 */

.o-default-jobs--align-center,
.o-default-jobs--align-default {
	.o-default-jobs {
		&__title-wrapper,
		&__title,
		&__content {

		}

		&__button-wrapper {

		}
	}
}

.o-default-jobs--align-left {
	.o-default-jobs {
		&__title-wrapper,
		&__title,
		&__content {

		}

		&__button-wrapper {

		}
	}
}

//////////////////////////////////////////
// Block Color Palette Versions         //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has multiple color palettes
 * "color-default" is required and the starting point
 * Both "color-dark" and "color-light" are required to style
 * Additional project color palettes might be present
 * and are required to style
 * ------------------------------------------------------------
 */
.o-default-jobs--color-default,
.o-default-jobs--color-dark {
	.o-default-jobs {
		&__title {
			color: $g-heading-dark;
		}

		&__content {
			color: $g-body-dark;
		}
	}
}

.o-default-jobs--color-light {
	.o-default-jobs {
		&__title,
		&__content {
			color: $g-body-light;
		}
	}
}


//////////////////////////////////////////
// Block Other Versions                 //
//////////////////////////////////////////
/**
 * Covers scenario(s) where this block has versions beside
 * the color and alignment use cases above
 * ------------------------------------------------------------
 */
