//////////////////////////////////////////////////
//                                              //
//  Molecule: Slider
//  https://www.dreamersofday.co                //
//                                              //
//////////////////////////////////////////////////

////////////////////////////////
// Molecule Variables         //
////////////////////////////////



////////////////////
// Styling        //
////////////////////

// Each object class listed below probably has it's own SCSS file.
// Please contact the dev manager for help to decide if the SCSS of an object itself needs to be overwritten or extended here.
// If needed, additional CSS properties can be given to the objects in this block by adding properties to the classes below.

.m-slider {
	&__slide-item {
		&.swiper-slide {
			display: flex;
			height: auto;
			align-items: center;
			justify-content: center;

			&-active {
				cursor: grab;
			}
		}
	}

	&__img-wrapper {
		position: relative;

		@include bp-sm {
			//position: relative;
		}
		@include bpm-sm {
			//@include absolute-full;
		}

		&::before {
			content: "";
			@include absolute-full;
			background-color: rgba(0, 0, 0, .5);
			z-index: 1;
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__slide-item-info {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 70px;
		text-align: center;
		color: #fff;
		z-index: 1;
		@include bp-sm {
			@include absolute-full;
			width: 60%;
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0);
			margin: 0 auto;
			padding: 20px;
		}
		@include bpm-sm {
			z-index: 1;
			display: none;
		}
		@include bpm-xs {
			padding: 0px;
		}

		.read-more {
			margin-top: 20px;
		}
	}

	&__pagination {
		.swiper-pagination-bullet {
			width: 10px;
			height: 10px;

			&-active {
				background: $g-brand-color-1;
			}
		}

	}

	&__btn-pagination {
		&.a-btn-pagination--prev { // change
			left: 0;
		}

		&.a-btn-pagination--next { // change
			right: 0;
		}
	}
}


/////////////////////////////
// Molecule Versions       //
/////////////////////////////

// Used to create additional versions of this molecule.

//.m-slider {
//	&--default {
//
//	}
//}
