//////////////////////////////////////////////////
//                                              //
//  Atom: Navigation Mobile	                    //
//                                              //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

////////////////////
// Styling        //
////////////////////

.m-nav--mobile {
	background-color: $g-body-light;

	.m-nav__sub-menu {
		display: none;
	}

	.m-nav {
		// The nav item wraps the nav link
		&__item {
			list-style: none;
			position: relative;
			display: block;
			overflow: hidden;
			margin-left: 0;
			padding-left: 0;
			border-top: 1px solid $g-grey-color-2;
			z-index: $g-z1;

			&--level-0 {
				.m-nav__toggle-wrapper {
					width: 70px;
					height: 70px;
				}
			}

			&--level-1 {
				.m-nav__toggle-wrapper {
					width: 50px;
					height: 50px;
				}
			}
		}

		&__link {
			position: relative;
			display: block;
			padding: 25px;
			text-decoration: none;
			font-family: $g-heading-font-family;
			font-size: 18px;
			font-weight: 500;
			font-style: normal;
			line-height: 1.1;
			letter-spacing: normal;
			transition: $g-trans-base;

			&:hover {
				color: $g-brand-color-4;
			}

			&.current_page_item {
				color: $g-brand-color-4;
			}

			&.menu-item-has-children {

			}
		}

		&__toggle-wrapper {
			@include absolute-tr;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			text-align: center;
			transition: transform .4s ease-in-out;
			z-index: $g-z1;

			&--active {
				transform: rotate(180deg);
			}
		}

		&__sub-menu {
			position: relative;
			padding: 0;
			background-color: $g-brand-color-5;

			.m-nav__link {
				margin-bottom: 0;
				padding: 16px 25px;
				font-size: 16px;
				color: $g-brand-color-4;

				&:before {
					display: none;
				}

				&:hover {
					color: $g-brand-color-1;
				}
			}
		}
	}

	// This ensures the active child in a submenu has it's submenu opened
	.current_page_ancestor {
		.m-nav__sub-menu {
			display: block;

			.m-nav__link {
				&.current_page_item {
					color: $g-brand-color-1;
				}
			}
		}
	}
}
