.m-list-alt {
	list-style-type: none;
	margin-top: 30px;

	&__item {
		overflow: hidden;
		margin-bottom: 10px;
		margin-left: 0;
		padding-left: 0;
		visibility: hidden;
		@include fadeInUp;

		&:last-child {
			margin-bottom: 0;
		}

	}

	&__item-inner {
		padding: 17px;
		background-color: #fff;
		border-width: 1px;
		border-style: solid;
		border-radius: 10px;
	}

	&__title {
		padding-bottom: 0;
		font-size: 14px;
		font-weight: 600;
		line-height: 1;
		letter-spacing: -0.17px;
	}

	&__content {
		font-size: 14px;
		line-height: 22px;
		letter-spacing: normal;
		margin-top: 15px;
		color: $g-body-dark;
	}

	// Molecule Other Versions
	&--brand-color-accent-light {
		.m-list-alt__item-inner {
			border-color: $g-brand-color-7;
		}
	}

	&--brand-color-accent-dark {
		.m-list-alt__item-inner {
			border-color: $g-brand-color-1;
		}
	}
}
