//////////////////////////////////////////////////
//                                              //
//  Organism: Header  		                    //
//                                              //
//  https://www.dreamersofday.co                 //
//                                              //
//////////////////////////////////////////////////

//////////////////////////////
// Default variables        //
//////////////////////////////

////////////////////
// Styling        //
////////////////////

.o-i360-header {
	position: fixed;
	width: 100%;
	padding: 0;
	transition: $g-trans-header;
	z-index: $g-z100;
	box-shadow: 0 2px 25px rgba(0, 0, 0, 0.15);
	background-color: #fff;

	&__inner {
		display: flex;
		align-items: center;
		height: 55px;
		width: 100%;
		background-color: #fff;
		position: relative;
	}

	&::before {
		content: '';
		@include absolute-tl;
		width: 0;
		height: calc(100% + 1px);
		background-color: #000;
		transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
	}

	&__container {
		display: flex;
		align-items: center;
		height: 100%;
		margin: 0 auto;
		padding: 0;
		&--top {
			padding: 14px 0 14px;
		}
	}

	&__search-button {
		cursor: pointer;
		transition: $g-trans-base;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 55px;
		height: 100%;
		background-color: $g-brand-color-5;

		&:hover {
			svg path {
				fill: $g-brand-color-1;
			}
		}

		&--anim {
			visibility: visible;
			opacity: 1;
		}

		svg {
			display: block;
			width: 25px;
			height: 25px;

			path {
				transition: $g-trans-base;
			}
		}
	}

	&__logo-wrapper {
		position: relative;
		display: flex;
		justify-content: flex-start;
		max-width: 241px;
		margin-top: -25px;
		z-index: 10;
	}

	&__logo {
		position: relative;
		display: block;
		height: 100%;
		padding-right: 7px;
		opacity: 1;
		transition: $g-trans-header;
		@include bpm-md {
			padding-right: 0;
		}

		svg {
			display: block;
			width: 100%;
			height: 100%;
		}

		&__img-wrapper {
			height: 100%;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__nav-wrapper {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-left: auto;
		flex:1;
		padding: 20px 25px 20px 0;
	}

	&__nav {
		@include bpm-md {
			display: none;
		}
	}

	&__hamburger-wrapper {
		display: inline-flex;
		height: 100%;
		margin-left: 20px;
		@include bp-md {
			display: none;
		}

		.hamburger {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;
			outline: none;
		}
	}

	&__top-content-wrapper,
	&__inner {
		z-index: 2;
	}

	&__top-content-wrapper {
		position: relative;
		padding: 6px 0 10px;
		background-image: linear-gradient(to right, #ffffff 0%, #efefef 100%);

		.o-i360-header__container {
			padding: 0;
		}

		.m-nav {
			&--top-content {
				list-style-type: none;
				display: flex;
				margin-left: auto;
			}

			&__item {
				margin-left: 30px;
				padding-left: 0;
			}

			&__link {
				font-size: 12px;
				color: $g-body-dark;

				&:hover {
					color: $g-brand-color-1;
				}
			}
		}
	}

	&__btn-connect {
		position: relative;
		display: inline-flex;
		align-items: center;
		height: 100%;
		padding: 0 50px 0 17px;
		background-image: linear-gradient(to right, #1fac6f 0%, #45c58e 100%);
		font-size: 12px;
		font-weight: 600;
		color: #fff;

		&:hover {
			color: #fff;

			.o-i360-header__btn-connect-icon {
				transform: translateX(3px);
			}
		}
	}

	&__btn-connect-icon {
		@include absolute-general($top: 0, $right: 17px, $bottom: 0);
		width: 15px;
		height: 15px;
		margin: auto 0;
		transition: $g-trans-base;

		svg {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}

////////////////////
// Versions       //
////////////////////
.l-headroom--top {
	.o-i360-header__top-content-wrapper {
		opacity: 1;
		transform: translateY(0);
	}
}

.l-headroom--not-top {
	position: fixed;
	background-color: rgba(#fff,.8) !important;
	box-shadow: 11px 15px 29px 0 rgba(48,48,48,.07);
	transition: $g-trans-header;
}

.o-i360-header--hamburger-active {
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
		background-color: $g-body-dark;
	}
}

////////////////////
// Extra          //
////////////////////

.l-headroom {
	will-change: transform;

	&--unpinned {
		transform: translateY(calc(-100% - 20px));
	}

	&--top {

	}

	&--not-top {

	}
}

// remove pointer events conflicting in top bar
.o-i360-header {
	a,
	button {
		pointer-events: all;
	}
}
