{% spaceless %}
	{#######################################################}
	{# --------------------------------------------------- #}
	{# Extending one of the Base Block Layout Types        #}
	{# 													   #}
	{# The block wrapper, title, content, button		   #}
	{# and container are declared inside the 		       #}
	{# base block layout          						   #}
	{# --------------------------------------------------- #}
	{#######################################################}
	{% extends '03-organisms/base/base-block/base-block.twig' %}

	{########################################################}
	{# Block general settings                               #}
	{########################################################}
	{% set component_class = "o-i360-pills" %}
	{% set container       = true %}

	{#################################################################################}
	{# ----------------------------------------------------------------------------- #}
	{# CUSTOM DEV: Add custom block specific stuff here by                           #}
	{# overwriting {% block %}'s defined in the chosen Base Block Layout Type above  #}
	{# ----------------------------------------------------------------------------- #}
	{#################################################################################}

	{# Overwriting block_inner as max_width is not part of the base-block #}
	{% block after_content %}
		<div class="{{ component_class }}__repeater">
			{% for item in section.repeater %}
				<div class="{{ component_class }}__item {{ component_class }}__item--{{ loop.index }} wow">

					{% include '01-atoms/content/title/title.twig' with {
						parent_class        : component_class,
						title               : item.title,
						h                   : 4,
						add_class_on_anim   : false
					} only %}

					{% include '01-atoms/content/content/content.twig' with {
						parent_class        : component_class,
						content             : item.content,
						add_class_on_anim   : false
					} only %}

				</div>
			{% endfor %}
		</div>
	{% endblock %}

{% endspaceless %}
